/*
 Theme Name: Bringmeister
 Theme URI: http://bringmeister.de
 Description: Legen... wait for it... Dary!
 Author: endcore Medienagentur
 Author URI: http://endcore.com
 Version: 1.0-almighty
 */
@font-face {
  font-family: 'AbsaraSansHeadlineComp-Regular';
  src: url('_/fonts/AbsaraSansHeadlineWeb.eot');
  src: url('_/fonts/AbsaraSansHeadlineWeb.eot?#iefix') format('embedded-opentype'), url('_/fonts/AbsaraSansHeadlineWeb.woff') format('woff'), url('_/fonts/AbsaraSansHeadlineWeb.ttf') format('truetype'), url('_/fonts/AbsaraSansHeadlineWeb.otf') format('opentype');
  font-weight: 400;
}
@font-face {
  font-family: 'AbsaraSansHeadlineComp-Medium';
  src: url('_/fonts/AbsaraSansHeadlineWeb-Medium.eot');
  src: url('_/fonts/AbsaraSansHeadlineWeb-Medium.eot?#iefix') format('embedded-opentype'), url('_/fonts/AbsaraSansHeadlineWeb-Medium.woff') format('woff'), url('_/fonts/AbsaraSansHeadlineWeb-Medium.ttf') format('truetype'), url('_/fonts/AbsaraSansHeadlineWeb-Medium.otf') format('opentype');
  font-weight: 500;
}
@font-face {
  font-family: 'AbsaraSansHeadlineComp-Bold';
  src: url('_/fonts/AbsaraSansHeadlineWeb-Bold.eot');
  src: url('_/fonts/AbsaraSansHeadlineWeb-Bold.eot?#iefix') format('embedded-opentype'), url('_/fonts/AbsaraSansHeadlineWeb-Bold.woff') format('woff'), url('_/fonts/AbsaraSansHeadlineWeb-Bold.ttf') format('truetype'), url('_/fonts/AbsaraSansHeadlineWeb-Bold.otf') format('opentype');
  font-weight: 700;
}
@font-face {
  font-family: 'PlutoCond-Regular';
  src: url('_/fonts/PlutoCondRegular.eot');
  src: url('_/fonts/PlutoCondRegular.eot?#iefix') format('embedded-opentype'), url('_/fonts/PlutoCondRegular.woff') format('woff'), url('_/fonts/PlutoCondRegular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'PlutoCond-Medium';
  src: url('_/fonts/PlutoCondMedium.eot');
  src: url('_/fonts/PlutoCondMedium.eot?#iefix') format('embedded-opentype'), url('_/fonts/PlutoCondMedium.woff') format('woff'), url('_/fonts/PlutoCondMedium.ttf') format('truetype');
  font-weight: 500;
}
html {
  position: relative;
  min-height: 100%;
}
@media (max-width: 767px) {
  html {
    font-size: 14px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 15px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  html {
    font-size: 15px;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 16px;
  }
}
html {
  overflow-x: hidden;
  width: 100vw;
}
body {
  overflow-x: hidden;
  width: 100vw;
  font-family: 'AbsaraSansHeadlineComp-Regular', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #414141;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'AbsaraSansHeadlineComp-Regular', sans-serif;
  font-weight: 400;
  color: #414141;
  margin-top: 0;
}
h1, .h1 {
  font-size: 3.5rem;
  /* 56px*/
  font-family: 'PlutoCond-Medium', sans-serif;
  font-weight: 500;
}
h2, .h2 {
  font-size: 2.5rem;
  /* 40px*/
  font-family: 'PlutoCond-Regular', sans-serif;
  font-weight: 400;
}
h3, .h3 {
  font-size: 1.75rem;
  /* 28px*/
}
h4, .h4 {
  font-size: 1.25rem;
  /* 20px*/
  font-family: 'AbsaraSansHeadlineComp-Medium', sans-serif;
  font-weight: 500;
}
h5, .h5 {
  font-size: 1rem;
  /* 16px*/
}
h6, .h6 {
  font-size: 0.875rem;
  /* 14px*/
}
.c1 {
  font-size: 1.75rem;
  /* 28px*/
}
.c2 {
  font-size: 1.25rem;
  /* 20px*/
}
.c3 {
  font-size: 1rem;
  /* 16px*/
}
.c4 {
  font-size: 0.875rem;
  /* 14px*/
}
.c5 {
  font-size: 0.75rem;
  /* 12px*/
}
.c6 {
  font-size: 0.625rem;
  /* 10px*/
}
a {
  color: #009b78;
}
a:hover, a:focus {
  color: #008984;
}
::selection {
  color: #fff;
  background: #92bd1e;
  text-shadow: none;
}
::-moz-selection {
  color: #fff;
  background: #92bd1e;
  text-shadow: none;
}
.text-gray {
  color: #999;
}
#wrapper, #wrapper-fluid {
  background: #fff;
}
#wrapper, .wrapped {
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) and (max-width: 991px) {
  #wrapper, .wrapped {
    width: 750px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #wrapper, .wrapped {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  #wrapper, .wrapped {
    width: 1170px;
  }
}
@media (min-width: 1366px) and (max-width: 1599px) {
  #wrapper, .wrapped, .container {
    width: 1260px;
  }
}
@media (min-width: 1600px) {
  #wrapper, .wrapped, .container {
    width: 1500px;
  }
}
@media (min-width: 1700px) {
  #wrapper, .wrapped, .container {
    width: 1640px;
  }
}
.col-xs-15, .col-sm-15, .col-md-15, .col-lg-15 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-xs-15 {
  float: left;
  width: 20%;
}
.col-xs-pull-15 {
  right: 20%;
}
.col-xs-push-15 {
  left: 20%;
}
.col-xs-offset-15 {
  margin-left: 20%;
}
@media (min-width: 768px) {
  .col-sm-15 {
    float: left;
    width: 20%;
  }
  .col-sm-pull-15 {
    right: 20%;
  }
  .col-sm-push-15 {
    left: 20%;
  }
  .col-sm-offset-15 {
    margin-left: 20%;
  }
}
@media (min-width: 992px) {
  .col-md-15 {
    float: left;
    width: 20%;
  }
  .col-md-pull-15 {
    right: 20%;
  }
  .col-md-push-15 {
    left: 20%;
  }
  .col-md-offset-15 {
    margin-left: 20%;
  }
}
@media (min-width: 1200px) {
  .col-lg-15 {
    float: left;
    width: 20%;
  }
  .col-lg-pull-15 {
    right: 20%;
  }
  .col-lg-push-15 {
    left: 20%;
  }
  .col-lg-offset-15 {
    margin-left: 20%;
  }
}
@media (max-width: 479px) {
  .col-xxs-12 {
    width: 100%;
    float: none;
  }
}
.alignleft {
  float: left;
  margin: 0 15px 10px 0;
}
.aligncenter {
  display: block;
  margin: 0 auto 10px auto;
}
.alignright {
  float: right;
  margin: 0 0 10px 15px;
}
.alignnone {
  float: none;
  display: block;
  margin: 0 0 10px 0;
}
img[class*="wp-image-"] {
  display: block;
  max-width: 100%;
  height: auto;
}
.wp-caption {
  max-width: 100%;
  width: auto !important;
}
.wp-caption-text {
  font-size: 0.875rem;
  margin: 5px 0 0 0;
  color: #999;
  font-style: italic;
}
.wp-caption img {
  height: auto;
}
.mfp-title {
  font-size: 0.875rem !important;
}
.wp-smiley {
  height: 16px;
  width: auto;
  max-width: 16px;
}
p.empty {
  padding: 0;
  margin: 0;
  line-height: 0;
}
span.highlight {
  padding: 0 0.1em;
  background-color: #f9fbf3;
  display: inline-block;
  margin: 0 0.1em;
  box-shadow: 0 0 0 0.1em #f9fbf3;
}
.grayscale {
  -webkit-backface-visibility: hidden;
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  filter: gray;
  filter: alpha(opacity=100);
  -webkit-filter: grayscale(100%);
  display: inline-block;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.grayscale:hover {
  filter: none;
  -webkit-filter: none;
  filter: alpha(opacity=100);
}
.browserupgrade {
  background: #d51317;
  color: #fff;
  text-align: center;
  padding: 10px;
}
.browserupgrade a {
  color: #fff;
  text-decoration: underline;
}
.no-padding .row div[class*=col-] {
  padding: 0;
}
@media (max-width: 479px) {
  .hidden-xxs {
    display: none !important;
  }
}
@media print {
  #topbar, #header, #navigation, #breadcrumbs, #sidebar, #footer, .post-social, .post-related, .post-postnav, .post-comments {
    display: none !important;
  }
}
@-moz-document url-prefix() {
  fieldset {
    display: table-cell;
  }
}
#header {
  background: #92bd1e;
  padding: 10px 0;
}
#header .brand {
  display: table;
}
#header .brand img {
  width: auto;
  max-height: 40px;
}
#header .searchform {
  position: relative;
}
#header .searchform .input-group {
  display: block;
  width: 100%;
}
#header .searchform .input-group-btn {
  width: auto;
  position: absolute;
  right: 0;
  z-index: 9;
}
#header .searchform .form-control, #header .searchform .btn {
  -webkit-appearance: none;
  top: 0;
  height: 40px !important;
  color: #999;
  border-color: #fff !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkitbox-shadow: none;
  border-radius: 3px;
}
#header .searchform .form-control:focus {
  color: #414141;
  box-shadow: 0 3px 10px 0 rgba(65, 65, 65, .25) !important;
}
#header .searchform .btn {
  border-radius: 0 3px 3px 0;
}
#header .searchform .btn .glyphicon {
  line-height: 24px;
  background: url('http://themenwelt.bringmeister.de./_/img/icon-search.png') no-repeat center center;
  background-size: 20px 20px;
  height: 26px;
  width: 20px;
  display: inline-block;
}
#header .searchform .btn .glyphicon:before {
  content: none;
}
#header .searchform .btn:hover, #header .searchform .btn:focus, #header .searchform .btn:active, #header .searchform:hover .btn, #header .searchform .form-control:focus + .input-group-btn .btn {
  color: #009b78;
  background: #fff;
  outline: none;
}
@media (max-width: 991px) {
  #header {
    padding: 8px 0;
  }
  #header .container {
    width: auto;
  }
  #header .searchform .btn .glyphicon {
    font-size: 1.2rem;
  }
  #header .col-xs-4.col-logo {
    width: 80px;
  }
  #header .col-xs-4.col-search {
    width: calc(100% - 200px);
    padding: 0;
  }
  #header .col-xs-4.col-links {
    width: 120px;
    height: 40px;
    text-align: right;
  }
  #header .col-xs-4.col-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 0;
  }
  #header .col-xs-4.col-links a + a {
    margin-left: 6px;
    top: -4px;
    position: relative;
  }
  #header .col-xs-4.col-links a + a:after {
    color: rgba(255, 255, 255, 0.75);
    content: "Menü";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -4px;
    font-size: 10px;
    text-align: center;
  }
}
@media (min-width: 992px) {
  #header {
    padding: 15px 0;
  }
  #header .searchform .form-control {
    padding-left: 20px;
  }
  #header .btn-outline-white {
    background: none;
    color: #fff;
    border-color: rgba(255, 255, 255, 0.5);
    padding-left: 50px;
    line-height: 1;
    height: 44px !important;
    text-align: left;
    margin: -2px 0;
  }
  #header .btn-outline-white:hover, #header .btn-outline-white:focus, #header .btn-outline-white:active, #header .btn-outline-white:hover:active, #header .btn-outline-white:focus:active {
    background: none;
    color: #fff;
    border-color: #fff;
  }
  #header .btn-outline-white .icon {
    position: absolute;
    left: 14px;
  }
  #header .btn-outline-white + .btn-outline-white {
    margin-left: 15px !important;
  }
}
/*
 @media (min-width: 768px) and (max-width: 991px) {
 #header .col-xs-4.col-logo { width: 240px; padding: 0; }
 #header .col-xs-4.col-search { width: calc(100% - 500px); }
 #header .col-xs-4.col-links { width: 260px; text-align: right; padding: 0; }
 }
 */
#header .col-links {
  text-align: right;
}
@media (max-width: 991px) {
  /*
   #navigation .dropdown > .dropdown-menu { left: 100% !important; display: block; transition: all 0.25s; }
   #navigation .dropdown.open > .dropdown-menu { left: 0 !important; }
   */
  /*
   #navigation .navbar .navbar-nav > .open > .dropdown-menu { background: #fff !important; }
   #navigation .navbar .navbar-nav > .open > .dropdown-menu > .open > .dropdown-menu { background: #fff !important; }
   #navigation .navbar .navbar-nav > .open > .dropdown-menu > .open > .dropdown-menu > .open > .dropdown-menu { background: #fff !important; }
   #navigation .navbar .navbar-nav > .open > .dropdown-menu > .open > .dropdown-menu > .open > .dropdown-menu > .open > .dropdown-menu { background: #fff !important; }
   */
  #navigation .navbar {
    border-radius: 0;
    margin: 0;
    border: none;
    min-height: 0;
  }
  #navigation .navbar .navbar-collapse {
    overflow: scroll;
    height: calc(100vh - 60px) !important;
    background: #000;
    border: 0;
    box-shadow: none;
    position: relative;
  }
  #navigation .navbar .navbar-collapse.collapsing {
    transition: none !important;
  }
  #navigation .navbar .navbar-nav {
    /* margin: 0 -15px; */
    margin: 0;
    width: 100%;
  }
  #navigation .navbar .navbar-nav li {
    position: static;
    border-bottom: 1px solid #d8d8d8;
    float: none;
  }
  #navigation .navbar .navbar-nav li > a {
    font-size: 1.125rem;
    color: #414141;
    padding: 6px 15px;
    line-height: 32px;
  }
  #navigation .navbar .navbar-nav li.open > a, #navigation .navbar .navbar-nav li > a:hover, #navigation .navbar .navbar-nav li > a:focus {
    color: #414141;
    background: #f2f2f2;
  }
  #navigation .navbar .navbar-nav li > a .icon-32 {
    vertical-align: top;
  }
  body.offcanvas-open {
    height: 100%;
    overflow: hidden;
  }
  #navigation .navbar-offcanvas {
    background: #fff;
    height: 100vh;
    /* padding: 0 15px; */
    padding: 0;
    overflow: scroll;
    z-index: 999;
    position: absolute;
    left: 100%;
    top: 0;
    width: calc(100% - 30px);
    transition: all 0.25s;
  }
  #navigation .navbar-offcanvas.open {
    left: 30px;
    box-shadow: -50px 0 0 rgba(65, 65, 65, 0.75);
  }
  #navigation .navbar .dropdown-menu {
    background: #fff;
    overflow: scroll;
    height: calc(100vh - 60px) !important;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    border-radius: 0;
    font-size: 1rem;
    border: none;
  }
  #navigation .dropdown-menu > li > a.dropdown-menu-back {
    color: #666 !important;
    position: relative;
    padding-left: 30px !important;
  }
  #navigation .dropdown-menu > li > a.dropdown-menu-back .fa {
    display: none;
  }
  #navigation .dropdown-menu > li > a.dropdown-menu-back:after {
    font-size: 1.5rem;
    content: "\f104";
    font-family: 'FontAwesome', sans-serif;
    position: absolute;
    left: 15px;
    top: 6px;
  }
  #navigation .dropdown-menu > li > a.dropdown-menu-title {
    padding: 2px 15px;
    color: #414141 !important;
    background: #f2f2f2 !important;
  }
  #navigation a.dropdown-toggle {
    position: relative;
  }
  #navigation a.dropdown-toggle:after {
    font-size: 1.75rem;
    content: "\f105";
    font-family: 'FontAwesome', sans-serif;
    position: absolute;
    right: 15px;
    top: 6px;
  }
}
@media (min-width: 992px) {
  .navbar {
    border-radius: 0;
    margin: 0;
    border: none;
  }
  .navbar .navbar-nav > li > a {
    font-size: 0.875rem;
    color: rgba(65, 65, 65, 0.75);
  }
  .navbar .navbar-nav > li:hover > a, .navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus, .navbar .navbar-nav > .open > a, .navbar .navbar-nav > .open > a:hover, .navbar .navbar-nav > .open > a:focus, .navbar .navbar-nav > .current_page_item > a, .navbar .navbar-nav > .current_page_parent > a {
    color: #414141;
    background: none;
  }
  .navbar .dropdown-menu > li > a {
    color: #414141;
    padding: 5px 20px;
  }
  .navbar .dropdown-menu > li:hover > a, .navbar .dropdown-menu > li > a:hover, .navbar .dropdown-menu > li > a:focus, .navbar .dropdown-menu > .open > a, .navbar .dropdown-menu > .open > a:hover, .navbar .dropdown-menu > .open > a:focus, .navbar .dropdown-menu > .current_page_item > a, .navbar .dropdown-menu > .current_page_parent > a {
    color: #92bd1e;
    background: none;
  }
  .navbar.navbar-hover .navbar-nav > .dropdown:hover > .dropdown-menu, .navbar.navbar-hover .navbar-nav > .dropdown > .dropdown-toggle:focus + .dropdown-menu, .navbar.navbar-hover .dropdown-menu > .dropdown:hover > .dropdown-menu {
    display: block;
  }
  .navbar .navbar-collapse {
    padding: 0;
  }
  .navbar-right .dropdown-submenu > .dropdown-menu {
    right: 100%;
    left: auto;
  }
  .navbar-nav > li {
    margin-right: 30px;
  }
  .navbar-nav > li:last-of-type {
    margin-right: 0;
  }
  .navbar-nav > li > a {
    padding: 15px 0;
  }
  .dropdown-menu {
    background-color: #fff;
    font-size: 1rem;
    border: 1px solid #d8d8d8;
    padding: 5px 0;
    box-shadow: 0 0 20px rgba(65, 65, 65, 0.15);
    border-radius: 0;
  }
  .dropdown-menu .caret {
    display: none;
  }
  .dropdown-submenu {
    position: relative;
  }
  .dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #d8d8d8;
    margin-top: 5px;
    margin-right: -10px;
  }
  .dropdown-submenu:hover > a:after, .dropdown-submenu.open > a:after, .dropdown-submenu > a:hover:after, .dropdown-submenu > a:focus:after {
    border-left-color: #92bd1e;
  }
  .dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
  }
  .navbar-center .dropdown-menu {
    min-width: 300px;
    padding: 20px 15px 80px 15px;
    min-height: 225px;
    transform: translateX(-22px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px !important;
    background: url('/wp-content/uploads/iconband.png') no-repeat center bottom #fff;
    background-size: contain;
  }
  .navbar-center .dropdown-menu > li {
    margin: 3px 0;
    display: block !important;
  }
  .navbar-center .dropdown-menu > li > a {
    padding: 7px 20px;
  }
  .navbar-left .dropdown-menu {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 3px !important;
    border: none;
  }
}
@media (min-width: 992px) {
  /*
   #navigation-top .navbar .navbar-nav.navbar-left > li:hover > a .caret,
   #navigation-top .navbar .navbar-nav.navbar-left > li > a:hover .caret,
   #navigation-top .navbar .navbar-nav.navbar-left > li > a:focus .caret { transform: rotate(180deg);}
   */
  #navigation-top {
    background: #f2f2f2;
  }
  #navigation-top .navbar .navbar-nav.navbar-left {
    position: absolute;
  }
  #navigation-top .navbar .navbar-nav.navbar-left > li {
    padding: 9px 0;
    height: 60px;
  }
  #navigation-top .navbar .navbar-nav.navbar-left > li > a {
    height: 32px;
    line-height: 16px;
    padding: 0 0 0 40px;
  }
  #navigation-top .navbar .navbar-nav.navbar-left > li > a .icon {
    position: absolute;
    left: 0;
    opacity: 0.75;
  }
  #navigation-top .navbar .navbar-nav.navbar-left > li:hover > a .icon, #navigation-top .navbar .navbar-nav.navbar-left > li > a:hover .icon, #navigation-top .navbar .navbar-nav.navbar-left > li > a:focus .icon {
    opacity: 1;
    /* background-position-y:  -64px; */
  }
  #navigation-top .navbar .navbar-nav.navbar-left > li > a small {
    font-size: 12px;
  }
  #navigation-top .navbar .navbar-nav.navbar-left > li > .dropdown-menu {
    margin-left: -10px;
  }
  #navigation-top .navbar .navbar-nav.navbar-left > li > a {
    padding-right: 15px;
  }
  #navigation-top .navbar .navbar-nav.navbar-left > li > a .caret {
    display: none;
  }
  #navigation-top .navbar .navbar-nav.navbar-left > li > a:after {
    content: "\f107";
    font-family: 'FontAwesome', sans-serif;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  #navigation-top .navbar .navbar-nav.navbar-left > li:hover > a:after, #navigation-top .navbar .navbar-nav.navbar-left > li > a:hover:after, #navigation-top .navbar .navbar-nav.navbar-left > li > a:focus:after {
    content: "\f106";
  }
  #navigation-top .navbar .navbar-nav.navbar-center {
    height: 50px;
  }
  #navigation-top .navbar .navbar-nav.navbar-center > li.dropdown {
    height: 60px;
  }
  #navigation-top .navbar .navbar-nav.navbar-center > li.dropdown > a {
    padding-right: 15px;
  }
  #navigation-top .navbar .navbar-nav.navbar-center > li.dropdown > a .caret {
    display: none;
  }
  #navigation-top .navbar .navbar-nav.navbar-center > li.dropdown > a:after {
    content: "\f107";
    font-family: 'FontAwesome', sans-serif;
    position: absolute;
    bottom: 16px;
    right: 0;
  }
  #navigation-top .navbar .navbar-nav.navbar-center > li.dropdown:hover > a:after, #navigation-top .navbar .navbar-nav.navbar-center > li.dropdown > a:hover:after, #navigation-top .navbar .navbar-nav.navbar-center > li.dropdown > a:focus:after {
    content: "\f106";
  }
  #navigation-top .navbar .navbar-nav.navbar-left .dropdown-submenu {
    position: static;
    display: block;
    float: none;
    padding: 0 15px;
  }
  #navigation-top .navbar .navbar-nav.navbar-left .dropdown-submenu > a {
    font-size: 0.875rem;
    letter-spacing: 0.25px;
    border-bottom: 1px solid #d8d8d8;
    padding: 5px 10px 5px 0;
    position: relative;
    white-space: normal;
    min-width: 190px;
    position: relative;
  }
  #navigation-top .navbar .navbar-nav.navbar-left .dropdown-submenu:last-of-type > a {
    border-bottom: 0;
  }
  #navigation-top .navbar .navbar-nav.navbar-left .dropdown-submenu > a:before {
    opacity: 0.3;
    content: "\f105";
    font-family: 'FontAwesome', sans-serif;
    position: absolute;
    top: 5px;
    right: 0;
  }
  #navigation-top .navbar .navbar-nav.navbar-left .dropdown-submenu > a:hover:before {
    opacity: 1;
    color: #414141;
  }
  #navigation-top .navbar .navbar-nav.navbar-left .dropdown-submenu > a:after {
    content: none;
  }
  #navigation-top .navbar .navbar-nav.navbar-left .dropdown-submenu > .dropdown-menu {
    margin: 0;
    border-color: #d8d8d8;
    padding: 70px 30px 30px 30px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
  }
  #navigation-top .navbar .navbar-nav.navbar-left .dropdown-submenu:focus > .dropdown-menu, #navigation-top .navbar .navbar-nav.navbar-left .dropdown-submenu:hover > .dropdown-menu {
    width: 810px;
    display: flex;
    position: absolute;
    top: -1px;
    bottom: 0;
    border-left: none;
    min-height: 80vh;
    background-color: #f5f5f5;
    background-position: bottom right;
    background-size: contain;
    background-repeat: no-repeat;
  }
  #navigation-top .navbar .navbar-nav.navbar-left .dropdown-submenu > .dropdown-menu .h1 {
    font-size: 1.875rem;
    font-family: 'AbsaraSansHeadlineComp-Regular', sans-serif;
    position: absolute;
    top: 20px;
    left: 30px;
  }
  #navigation-top .navbar .navbar-nav.navbar-left .dropdown-submenu > .dropdown-menu .h1 a {
    padding: 0;
  }
  #navigation-top .navbar .navbar-nav.navbar-left .dropdown-submenu > .dropdown-menu > li {
    width: 30%;
  }
  #navigation-top .navbar .navbar-nav.navbar-left .dropdown-submenu > .dropdown-menu > li .tiles {
    border-radius: 3px;
    color: #999;
    background: #fff;
    padding: 15px;
    margin: 0 15px 15px 0;
  }
  #navigation-top .navbar .navbar-nav.navbar-left .dropdown-submenu > .dropdown-menu > li .tiles a {
    padding: 0;
    white-space: normal;
    color: inherit;
    display: inline;
  }
  #navigation-top .navbar .navbar-nav.navbar-left .dropdown-submenu > .dropdown-menu > li .tiles a.dropdown-menu-title {
    display: block;
    font-size: 1.125rem;
    color: #414141;
  }
  #navigation-top .navbar .navbar-nav.navbar-left .dropdown-submenu > .dropdown-menu > li .tiles a.dropdown-menu-title + a {
    margin-top: 5px;
  }
  #navigation-top .navbar .navbar-nav.navbar-left .dropdown-submenu > .dropdown-menu > li .tiles a:hover, #navigation-top .navbar .navbar-nav.navbar-left .dropdown-submenu > .dropdown-menu > li .tiles a:focus {
    color: #92bd1e;
    background: none;
    text-decoration: none;
  }
  #navigation-top .navbar .navbar-nav.navbar-right > li:before {
    content: "";
    left: -15px;
    top: 15px;
    height: 20px;
    width: 1px;
    background: #d8d8d8;
    position: absolute;
    display: inline-block;
  }
  #navigation-top .navbar .navbar-nav.navbar-right > li:first-of-type:before {
    content: none;
  }
  #navigation-top .navbar .navbar-nav.navbar-center {
    float: none;
    text-align: center;
  }
  #navigation-top .navbar .navbar-nav.navbar-center li {
    display: inline-block;
    float: none;
  }
  #navigation-top .navbar .navbar-nav.navbar-center > li:before {
    content: "";
    left: -15px;
    top: 15px;
    height: 20px;
    width: 1px;
    background: #d8d8d8;
    position: absolute;
    display: inline-block;
  }
  #navigation-top .navbar .navbar-nav.navbar-center > li:first-of-type:before {
    content: none;
  }
}
@media (min-width: 992px) {
  #navigation {
    background: #fff;
  }
  #navigation .navbar .navbar-nav > li > a {
    font-size: 1rem;
    color: #414141;
  }
}
#teaser .carousel {
  min-height: 50px;
}
#teaser .carousel-fade .carousel-inner .item {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
#teaser .carousel-fade .carousel-inner .item img {
  margin: 0 auto;
  max-width: 100%;
}
#teaser .carousel-fade .carousel-inner .active {
  opacity: 1;
}
#teaser .carousel-fade .carousel-inner .active.left, #teaser .carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
#teaser .carousel-fade .carousel-inner .next.left, #teaser .carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
#teaser .carousel-fade .carousel-control {
  z-index: 2;
}
#teaser .carousel .carousel-inner .item.item-noimg {
  padding: 10px;
}
#teaser .carousel .carousel-inner .item.item-noimg h1, #teaser .carousel .carousel-inner .item.item-noimg h2 {
  margin-top: 10px;
}
#teaser .carousel .carousel-inner .item.item-noimg .carousel-caption {
  text-shadow: none;
  left: auto;
  right: auto;
  bottom: auto;
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
  text-align: left;
}
/* @TODO */
#teaser .carousel-caption {
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
  padding: 0;
  left: 10%;
  right: 10%;
}
#teaser .carousel-caption h1 {
  color: #fff;
  max-width: 800px;
  margin: 0 auto;
  text-shadow: none;
}
#main, #page-builder .section {
  padding: 40px 0;
}
#page-builder .section:first-of-type {
  padding-top: 0;
}
#page-builder .section:last-of-type {
  padding-bottom: 0;
}
#main > .container > #content > :first-child, #main > .container > .row > .col-sm-8 > #content > :first-child, #main > .container > .row > .col-sm-4 > #sidebar > :first-child, #page-builder > .section > .container > .inner > :first-child {
  margin-top: 0;
}
@media (max-width: 767px) {
  #main, #page-builder .section {
    padding: 15px 0;
  }
  #page-builder .section:first-of-type {
    padding-top: 0;
  }
  #page-builder .section:last-of-type {
    padding-bottom: 0;
  }
}
#map_canvas {
  height: 400px;
}
@media (min-width: 768px) {
  .dl-horizontal dt {
    width: 200px;
    text-align: left;
  }
  .dl-horizontal dd {
    margin-left: 220px;
  }
  .error404 #content h1 {
    font-size: 3rem;
  }
}
.product {
  margin-bottom: 30px;
}
.product .product-image img {
  margin: 0 auto 30px auto;
}
.product .product-title {
  min-height: 70px;
  display: block;
  margin-bottom: 10px;
}
.product .product-title h3 {
  font-size: 1.25rem;
  margin: 0 0 3px 0;
}
.product .product-title h3 a {
  color: #414141;
}
.product .product-title .product-subtitle {
  color: #999;
  font-size: 0.875rem;
  margin: 0;
}
.product .product-price .price {
  margin: 0;
  font-size: 2.25rem;
  font-weight: 900;
}
.product .product-price .price .currency {
  font-size: 1.25rem;
  color: inherit;
  font-weight: 400;
  margin-right: 2px;
}
.product .product-price .price del {
  position: relative;
  color: #999;
  font-size: 0.875rem;
  top: -1em;
  font-weight: 400;
  text-decoration: none;
}
.product .product-price .price del:after {
  content: "";
  position: absolute;
  display: block;
  height: 1px;
  top: 5px;
  left: -2px;
  right: -2px;
  background: #d51317;
  transform: rotate(-15deg);
}
.product .product-price .price del .currency {
  color: #999;
  font-size: 0.875rem;
}
.product .product-price .price .price-sale {
  color: #d51317;
}
.product .product-price .price-info {
  color: #999;
  font-size: 0.875rem;
  margin: 0;
}
#page-builder .section.textarea-caption {
  padding-top: 0;
}
#page-builder .section.textarea-caption .inner {
  position: relative;
  min-height: 300px !important;
}
#page-builder .section.textarea-caption .caption {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  background: rgba(255, 255, 255, 0.94);
  padding: 20px;
}
#page-builder .section.textarea-caption .caption > :last-child {
  margin-bottom: 0;
}
/*
 .post > h2 > a,
 .search #content .page > h2 > a { color: #414141; }
 .post > h2 > a:hover,
 .post > h2 > a:focus,
 .search #content .page > h2 > a:hover,
 .search #content .page > h2 > a:focus { color: #008984; }
 .search #content .page .post-meta,
 .search #content .page > a { display: none; }
 .post-large img { margin-bottom: 10px; }
 .post-large { padding-bottom: 20px; margin-bottom: 20px; border-bottom: 1px solid #e5e5e5; }
 .post-large p:not(.post-meta):last-of-type { margin-bottom: 0; }
 .post-small { padding-bottom: 20px; margin-bottom: 20px; border-bottom: 1px solid #e5e5e5; }
 .post-small p:not(.post-meta):last-of-type { margin-bottom: 0; }
 .post-meta { font-size: 0.875rem; line-height: 20px; color: #999; }
 .post-meta a { color: inherit; }
 .post-meta a:hover,
 .post-meta a:focus { color: #008984; }
 .post-meta span:after { content: "·"; width: 5px; display: inline-block; text-align: center; margin-left: 5px; }
 .post-meta span:last-of-type:after { content: none; }
 .pagination { border-radius: 0; }
 .pagination > li > a,
 .pagination > li > span { color: #008984; border-color: #e5e5e5; border-radius: 0; }
 .pagination > li > a:hover,
 .pagination > li > span:hover,
 .pagination > li > a:focus,
 .pagination > li > span:focus { color: #008984; background-color: #fcfcfc; border-color: #e5e5e5; }
 .pagination > .active > a,
 .pagination > .active > span,
 .pagination > .active > a:hover,
 .pagination > .active > span:hover,
 .pagination > .active > a:focus,
 .pagination > .active > span:focus { color: #fff; background-color: #008984; border-color: #008984; }
 .pagination > .disabled > span,
 .pagination > .disabled > span:hover,
 .pagination > .disabled > span:focus,
 .pagination > .disabled > a,
 .pagination > .disabled > a:hover,
 .pagination > .disabled > a:focus { color: #999; background-color: #fcfcfc; border-color: #e5e5e5; }
 .gallery .gallery-item { margin-bottom: 15px; }
 .comment { min-height: 70px; }
 .comment .media-heading { font-weight: 600; }
 .comment .media-heading a { color: #414141; }
 .comment .media-heading a:hover,
 .comment .media-heading a:focus { color: #008984; }
 .comment .media-heading small { font-size: 0.875rem; font-weight: 400; color: #999; }
 .comment .comment-reply-link { float: right; opacity: 0.5; font-size: 0.875rem; }
 .comment .comment-reply-link:hover,
 .comment .comment-reply-link:focus { opacity: 1; text-decoration: none; }
 .comment .comment-reply-link:after { content: "\e095"; font-family: 'Glyphicons Halflings', sans-serif; float: left; margin-right: 10px; margin-top: 2px; }
 .comment.depth-1 .comment { margin: 20px 0 0 23px; padding-left: 33px; border-left: 2px solid #e5e5e5; }
 .comment.bypostauthor { position: relative; }
 .comment.bypostauthor:after { content: "Autor"; background: #414141; width: 48px; color: #fff; font-size: 10px; line-height: 16px; padding: 0 10px; position: absolute; top: 53px; left: 0; }
 .comment.depth-1 .comment.bypostauthor:after { left: 33px; }
 */
#footer {
  position: relative;
  margin-top: 30px;
}
#footer #footer-nav {
  background: #92bd1e;
  padding: 15px 0;
}
#footer #footer-nav ul {
  margin: 0;
}
#footer #footer-nav ul li {
  padding: 0;
  margin: 0 30px 0 0;
}
#footer #footer-nav ul li:last-of-type {
  margin: 0;
}
#footer #footer-nav ul li a {
  font-size: 1.125rem;
  color: #fff;
  border-bottom: 2px solid transparent;
}
#footer #footer-nav ul li a:hover, #footer #footer-nav ul li a:focus {
  text-decoration: none;
  border-color: #fff;
}
#footer #footer-sections {
  background: #fafafa;
}
#footer #footer-sections p:last-of-type {
  margin-bottom: 0;
}
#footer #footer-sections .footer-section {
  padding: 50px 0;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
}
#footer #footer-sections .footer-section .h1, #footer #footer-sections .footer-section .h2 {
  line-height: 1.33;
  font-family: 'AbsaraSansHeadlineComp', sans-serif;
  font-weight: 400;
}
#footer #footer-sections .footer-section .h1 a, #footer #footer-sections .footer-section .h2 a {
  color: inherit !important;
}
#footer #footer-sections .footer-section .h1 {
  color: #414141;
  font-size: 1.75rem;
}
#footer #footer-sections .footer-section .h1 .text-gray {
  color: #999;
  display: block;
}
#footer #footer-sections .footer-section .h2 {
  color: #999;
  font-size: 1.375rem;
  margin-bottom: 15px;
}
#footer #footer-sections .footer-section .list-footer-menu {
  margin: 0;
  line-height: 2;
}
#footer #footer-sections .footer-section .list-footer-menu li a {
  color: #414141;
}
/* @TODO */
#footer #footer-sections .footer-section-banner {
  display: none;
}
#footer #footer-sections .footer-section-gurantee {
  padding-top: 25px;
  border-top: none;
}
#footer #footer-sections .footer-section-gurantee .col-sm-8 {
  text-align: center;
}
#footer #footer-sections .footer-section-gurantee img {
  max-height: 64px;
  width: auto;
}
#footer #footer-sections .footer-section-customer-service .list-footer-icon li {
  position: relative;
}
#footer #footer-sections .footer-section-customer-service .list-footer-icon li a {
  padding-left: 32px;
}
#footer #footer-sections .footer-section-customer-service .list-footer-icon li a:before {
  content: "";
  display: inline-block;
  height: 24px;
  width: 24px;
  position: absolute;
  left: 0;
  background-position-y: 0;
}
#footer #footer-sections .footer-section-customer-service .list-footer-icon li a:hover:before {
  background-position-y: -24px;
}
#footer #footer-sections .footer-section-customer-service .list-payments li a:before {
  background-image: url('_/img/payment.png');
  background-size: 120px 48px;
}
#footer #footer-sections .footer-section-customer-service .list-social li a:before {
  background-image: url('_/img/social_media.png');
  background-size: 96px 48px;
}
#footer #footer-sections .footer-section-customer-service .list-payments li a._pp:before {
  background-position-x: 0;
}
#footer #footer-sections .footer-section-customer-service .list-payments li a._ca:before {
  background-position-x: -24px;
}
#footer #footer-sections .footer-section-customer-service .list-payments li a._ec:before {
  background-position-x: -48px;
}
#footer #footer-sections .footer-section-customer-service .list-payments li a._in:before {
  background-position-x: -72px;
}
#footer #footer-sections .footer-section-customer-service .list-payments li a._dd:before {
  background-position-x: -96px;
}
#footer #footer-sections .footer-section-customer-service .list-social li a._fb:before {
  background-position-x: 0;
}
#footer #footer-sections .footer-section-customer-service .list-social li a._tw:before {
  background-position-x: -24px;
}
#footer #footer-sections .footer-section-customer-service .list-social li a._in:before {
  background-position-x: -48px;
}
#footer #footer-sections .footer-section-newsletter .h1 {
  height: 80px;
}
#footer #footer-sections .footer-section-newsletter .form-inline {
  margin-bottom: 10px;
}
#footer #footer-sections .footer-section-newsletter .form-inline .btn {
  margin-left: 10px;
}
#footer #footer-sections .footer-section-newsletter .voucherval {
  height: 61px;
  width: 72px;
  display: inline-block;
  text-align: center;
  float: left;
  margin-right: 10px;
  background: url('_/img/icon_voucher.png') no-repeat;
  background-size: 72px 61px;
  position: relative;
}
#footer #footer-sections .footer-section-newsletter .voucherval span {
  transform: rotate(10deg);
  display: block;
  margin-top: 20px;
}
#footer #footer-sections .footer-section-brands .h2 {
  margin-top: 30px;
}
#footer #footer-sections .footer-section-brands .col-sm-3:nth-child(-n+4) .h2 {
  margin-top: 0;
}
#footer #footer-sections .footer-section-logo {
  border-bottom: none;
}
#footer #footer-sections .footer-section-logo img {
  max-height: 40px;
  width: auto;
  margin-bottom: 15px;
}
.btn {
  height: 36px !important;
  position: relative;
  outline: none !important;
  padding: 6px 14px;
  font-size: 1rem;
}
.btn:active {
  position: relative;
  top: 0;
  height: 36px;
}
.btn-xcore, .btn-success {
  top: -2px;
  color: #fff;
  background: #92bd1e;
  border-color: #92bd1e;
  box-shadow: 0 2px 0 0 #81a71b;
}
.btn-xcore:hover:hover, .btn-success:hover:hover, .btn-xcore:focus:hover, .btn-success:focus:hover, .btn-xcore:active:hover, .btn-success:active:hover, .btn-xcore:hover:focus, .btn-success:hover:focus, .btn-xcore:focus:focus, .btn-success:focus:focus, .btn-xcore:active:focus, .btn-success:active:focus {
  color: #fff;
  background: #92bd1e;
  border-color: #8bb41d;
}
.btn-cyan, .btn-primary {
  top: -2px;
  color: #fff;
  background: #009b78;
  border-color: #009b78;
  box-shadow: 0 2px 0 0 #008264;
}
.btn-cyan:hover:hover, .btn-primary:hover:hover, .btn-cyan:focus:hover, .btn-primary:focus:hover, .btn-cyan:active:hover, .btn-primary:active:hover, .btn-cyan:hover:focus, .btn-primary:hover:focus, .btn-cyan:focus:focus, .btn-primary:focus:focus, .btn-cyan:active:focus, .btn-primary:active:focus {
  color: #fff;
  background: #009b78;
  border-color: #009170;
}
.btn-red, .btn-danger {
  top: -2px;
  color: #fff;
  background: #d51317;
  border-color: #d51317;
  box-shadow: 0 2px 0 0 #be1114;
}
.btn-red:hover:hover, .btn-danger:hover:hover, .btn-red:focus:hover, .btn-danger:focus:hover, .btn-red:active:hover, .btn-danger:active:hover, .btn-red:hover:focus, .btn-danger:hover:focus, .btn-red:focus:focus, .btn-danger:focus:focus, .btn-red:active:focus, .btn-danger:active:focus {
  color: #fff;
  background: #d51317;
  border-color: #cc1216;
}
.btn-blue, .btn-info {
  top: -2px;
  color: #fff;
  background: #00689d;
  border-color: #00689d;
  box-shadow: 0 2px 0 0 #005784;
}
.btn-blue:hover:hover, .btn-info:hover:hover, .btn-blue:focus:hover, .btn-info:focus:hover, .btn-blue:active:hover, .btn-info:active:hover, .btn-blue:hover:focus, .btn-info:hover:focus, .btn-blue:focus:focus, .btn-info:focus:focus, .btn-blue:active:focus, .btn-info:active:focus {
  color: #fff;
  background: #00689d;
  border-color: #006193;
}
.btn-yellow, .btn-warning {
  top: -2px;
  color: #fff;
  background: #fcbf00;
  border-color: #fcbf00;
  box-shadow: 0 2px 0 0 #e3ac00;
}
.btn-yellow:hover:hover, .btn-warning:hover:hover, .btn-yellow:focus:hover, .btn-warning:focus:hover, .btn-yellow:active:hover, .btn-warning:active:hover, .btn-yellow:hover:focus, .btn-warning:hover:focus, .btn-yellow:focus:focus, .btn-warning:focus:focus, .btn-yellow:active:focus, .btn-warning:active:focus {
  color: #fff;
  background: #fcbf00;
  border-color: #f2b700;
}
.form-control {
  height: 36px;
  color: #414141;
  background-color: #fff;
  border-color: #ccc;
  border-radius: 3px;
  transition: none;
  font-size: 1rem;
}
.form-control:focus {
  color: #414141;
  background-color: #fff;
  border-color: #999;
  box-shadow: inset 0 1px 1px rgba(65, 65, 65, .075);
}
.form-control::-moz-placeholder {
  color: #999;
}
.form-control:-ms-input-placeholder {
  color: #999;
}
.form-control::-webkit-input-placeholder {
  color: #999;
}
.form-control.wpcf7-not-valid {
  color: #d51317;
  background-color: rgba(213, 19, 23, 0.05);
  border-color: #d51317;
}
.form-control.wpcf7-not-valid:focus {
  color: #d51317;
  background-color: #fff;
  border-color: #d51317;
}
.form-control.wpcf7-not-valid::-moz-placeholder {
  color: #a87879;
}
.form-control.wpcf7-not-valid:-ms-input-placeholder {
  color: #a87879;
}
.form-control.wpcf7-not-valid::-webkit-input-placeholder {
  color: #a87879;
}
.control-label, .form-horizontal .control-label {
  text-align: left;
  font-weight: 400;
}
.control-label sup {
  color: #d51317;
}
.wpcf7 .ajax-loader {
  display: none;
}
.wpcf7 .screen-reader-response {
  display: none;
}
.wpcf7 .wpcf7-not-valid-tip {
  display: block;
  font-size: 0.875rem;
  text-align: right;
  color: #d51317;
}
.wpcf7-radio .wpcf7-list-item, .wpcf7-checkbox .wpcf7-list-item {
  margin-right: 10px;
}
.wpcf7-response-output.wpcf7-validation-errors {
  color: #d51317;
  border-left: 3px solid #d51317;
  margin: 20px 0;
  padding: 3px 10px;
  font-size: 0.875rem;
}
.wpcf7-response-output.wpcf7-mail-sent-ok {
  color: #92bd1e;
  border-left: 3px solid #92bd1e;
  margin: 20px 0;
  padding: 3px 10px;
  font-size: 0.875rem;
}
#breadcrumbs {
  color: #999;
  padding: 10px 0;
  font-size: 0.875rem;
  line-height: 20px;
  border-bottom: 1px solid #f2f2f2;
  border-top: 1px solid #f2f2f2;
}
#breadcrumbs p {
  margin: 0;
}
#breadcrumbs a {
  color: inherit;
}
#breadcrumbs a:hover, #breadcrumbs a:focus {
  color: #009b78;
  text-decoration: none;
}
#breadcrumbs .fa {
  margin: 0 5px;
}
.icon {
  vertical-align: middle;
  background: url('_/img/sprite.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  display: inline-block;
}
.icon-64 {
  background-size: 448px 192px;
  height: 64px;
  width: 64px;
}
.icon-64.icon-white {
  background-position-y: -64px;
}
.icon-64.icon-green {
  background-position-y: -128px;
}
.icon-64.icon-burger {
  background-position-x: 0;
}
.icon-64.icon-deliver {
  background-position-x: -64px;
}
.icon-64.icon-star {
  background-position-x: -128px;
}
.icon-64.icon-checklist {
  background-position-x: -192px;
}
.icon-64.icon-user {
  background-position-x: -256px;
}
.icon-64.icon-cart {
  background-position-x: -320px;
}
.icon-64.icon-close {
  background-position-x: -384px;
}
.icon-40 {
  background-size: 280px 120px;
  height: 40px;
  width: 40px;
}
.icon-40.icon-white {
  background-position-y: -40px;
}
.icon-40.icon-green {
  background-position-y: -80px;
}
.icon-40.icon-burger {
  background-position-x: 0;
}
.icon-40.icon-deliver {
  background-position-x: -40px;
}
.icon-40.icon-star {
  background-position-x: -80px;
}
.icon-40.icon-checklist {
  background-position-x: -120px;
}
.icon-40.icon-user {
  background-position-x: -160px;
}
.icon-40.icon-cart {
  background-position-x: -200px;
}
.icon-40.icon-close {
  background-position-x: -240px;
}
.icon-32 {
  background-size: 224px 96px;
  height: 32px;
  width: 32px;
}
.icon-32.icon-white {
  background-position-y: -32px;
}
.icon-32.icon-green {
  background-position-y: -64px;
}
.icon-32.icon-burger {
  background-position-x: 0;
}
.icon-32.icon-deliver {
  background-position-x: -32px;
}
.icon-32.icon-star {
  background-position-x: -64px;
}
.icon-32.icon-checklist {
  background-position-x: -96px;
}
.icon-32.icon-user {
  background-position-x: -128px;
}
.icon-32.icon-cart {
  background-position-x: -160px;
}
.icon-32.icon-close {
  background-position-x: -192px;
}
.icon-20 {
  background-size: 140px 60px;
  height: 20px;
  width: 20px;
}
.icon-20.icon-white {
  background-position-y: -20px;
}
.icon-20.icon-green {
  background-position-y: -40px;
}
.icon-20.icon-burger {
  background-position-x: 0;
}
.icon-20.icon-deliver {
  background-position-x: -20px;
}
.icon-20.icon-star {
  background-position-x: -40px;
}
.icon-20.icon-checklist {
  background-position-x: -60px;
}
.icon-20.icon-user {
  background-position-x: -80px;
}
.icon-20.icon-cart {
  background-position-x: -100px;
}
.icon-20.icon-close {
  background-position-x: -120px;
}
.icon-16 {
  background-size: 112px 48px;
  height: 16px;
  width: 16px;
}
.icon-16.icon-white {
  background-position-y: -16px;
}
.icon-16.icon-green {
  background-position-y: -32px;
}
.icon-16.icon-burger {
  background-position-x: 0;
}
.icon-16.icon-deliver {
  background-position-x: -16px;
}
.icon-16.icon-star {
  background-position-x: -32px;
}
.icon-16.icon-checklist {
  background-position-x: -48px;
}
.icon-16.icon-user {
  background-position-x: -64px;
}
.icon-16.icon-cart {
  background-position-x: -80px;
}
.icon-16.icon-close {
  background-position-x: -96px;
}
.carousel-products .carousel-inner > .item, .carousel-products .carousel-inner > .item .col-sm-15, .carousel-products .carousel-inner > .item .product {
  background: #fff;
}
.carousel-products .carousel-control {
  width: 4%;
  background-image: none;
}
.carousel-products .carousel-control.left {
  margin-left: 15px;
}
.carousel-products .carousel-control.right {
  margin-right: 15px;
}
.carousel-products .carousel-inner > .item {
  background: #fff;
}
.carousel-products .cloneditem-1, .carousel-products .cloneditem-2, .carousel-products .cloneditem-3, .carousel-products .cloneditem-4 {
  display: none;
}
@media all and (min-width: 100px) {
  .carousel-products .carousel-inner > .active.left, .carousel-products .carousel-inner > .prev {
    left: -50%;
  }
  .carousel-products .carousel-inner > .active.right, .carousel-products .carousel-inner > .next {
    left: 50%;
  }
  .carousel-products .carousel-inner > .left, .carousel-products .carousel-inner > .prev.right, .carousel-products .carousel-inner > .active {
    left: 0;
  }
  .carousel-products .carousel-inner .cloneditem-1 {
    display: block;
  }
}
@media all and (min-width: 100px) and (transform-3d), all and (min-width: 100px) and (-webkit-transform-3d) {
  .carousel-products .carousel-inner > .item.active.right, .carousel-products .carousel-inner > .item.next {
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
    left: 0;
  }
  .carousel-products .carousel-inner > .item.active.left, .carousel-products .carousel-inner > .item.prev {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    left: 0;
  }
  .carousel-products .carousel-inner > .item.left, .carousel-products .carousel-inner > .item.prev.right, .carousel-products .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
  }
}
@media all and (min-width: 992px) {
  .carousel-products .carousel-inner > .active.left, .carousel-products .carousel-inner > .prev {
    left: -25%;
  }
  .carousel-products .carousel-inner > .active.right, .carousel-products .carousel-inner > .next {
    left: 25%;
  }
  .carousel-products .carousel-inner > .left, .carousel-products .carousel-inner > .prev.right, .carousel-products .carousel-inner > .active {
    left: 0;
  }
  .carousel-products .carousel-inner .cloneditem-2, .carousel-products .carousel-inner .cloneditem-3 {
    display: block;
  }
}
@media all and (min-width: 992px) and (transform-3d), all and (min-width: 992px) and (-webkit-transform-3d) {
  .carousel-products .carousel-inner > .item.active.right, .carousel-products .carousel-inner > .item.next {
    -webkit-transform: translate3d(25%, 0, 0);
    transform: translate3d(25%, 0, 0);
    left: 0;
  }
  .carousel-products .carousel-inner > .item.active.left, .carousel-products .carousel-inner > .item.prev {
    -webkit-transform: translate3d(-25%, 0, 0);
    transform: translate3d(-25%, 0, 0);
    left: 0;
  }
  .carousel-products .carousel-inner > .item.left, .carousel-products .carousel-inner > .item.prev.right, .carousel-products .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
  }
}
@media all and (min-width: 1200px) {
  .carousel-products .carousel-inner > .active.left, .carousel-products .carousel-inner > .prev {
    left: -20%;
  }
  .carousel-products .carousel-inner > .active.right, .carousel-products .carousel-inner > .next {
    left: 20%;
  }
  .carousel-products .carousel-inner > .left, .carousel-products .carousel-inner > .prev.right, .carousel-products .carousel-inner > .active {
    left: 0;
  }
  .carousel-products .carousel-inner .cloneditem-4 {
    display: block;
  }
}
@media all and (min-width: 1200px) and (transform-3d), all and (min-width: 1200px) and (-webkit-transform-3d) {
  .carousel-products .carousel-inner > .item.active.right, .carousel-products .carousel-inner > .item.next {
    -webkit-transform: translate3d(20%, 0, 0);
    transform: translate3d(20%, 0, 0);
    left: 0;
  }
  .carousel-products .carousel-inner > .item.active.left, .carousel-products .carousel-inner > .item.prev {
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0);
    left: 0;
  }
  .carousel-products .carousel-inner > .item.left, .carousel-products .carousel-inner > .item.prev.right, .carousel-products .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
  }
}
.alert {
  padding: 15px;
  margin-bottom: 30px;
  border: 1px solid #d8d8d8;
  background: #f2f2f2;
  border-radius: 0;
}
.alert > :first-child {
  margin-top: 0;
}
.alert > :last-child {
  margin-bottom: 0;
}
.alert h1, .alert h2, .alert h3, .alert h4, .alert h5, .alert h6 {
  color: inherit;
  font-size: 1.25rem;
}
.alert-success {
  background: #fafcf4;
  color: #6a7f30;
  border-color: #d1d5c5;
}
.alert-info {
  background: #f2f7fa;
  color: #21556f;
  border-color: #adc2cc;
}
.alert-warning {
  background: #fffcf2;
  color: #9f8021;
  border-color: #dcd6c2;
}
.alert-danger {
  background: #fdf3f3;
  color: #8b2a2c;
  border-color: #d8c4c5;
}
.alert-success a {
  color: #92bd1e;
}
.alert-info a {
  color: #00689d;
}
.alert-warning a {
  color: #fcbf00;
}
.alert-danger a {
  color: #d51317;
}
.nav-tabs {
  border-bottom: 1px solid #d8d8d8;
}
.nav-tabs > li > a {
  border-radius: 0;
  background: #fff;
  border-bottom: 1px solid #d8d8d8;
  color: #999;
  padding: 7px 20px;
  margin-right: 5px;
}
.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
  border-color: #f2f2f2 #f2f2f2 #d8d8d8;
  background: #f2f2f2;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: #92bd1e;
  border: 1px solid #d8d8d8;
  border-bottom-color: transparent;
}
.nav-tabs + .tab-content {
  border: 1px solid #d8d8d8;
  border-top: 0;
  padding: 15px;
}
.nav-tabs + .tab-content .tab-pane > :last-child {
  margin-bottom: 0;
}
div[id*="accordion"] .panel-default {
  margin: 0 !important;
  border: none;
  border-bottom: 1px solid #d8d8d8;
  border-radius: 0 !important;
  box-shadow: none;
}
div[id*="accordion"] .panel-default:first-of-type {
  border-top: 1px solid #d8d8d8;
}
div[id*="accordion"] .panel-default > .panel-heading {
  color: #414141;
  background-color: #fff;
  border-color: #d8d8d8;
  padding: 0;
}
div[id*="accordion"] .panel-heading .panel-title {
  font-size: 1.125rem;
  padding: 15px 15px 15px 45px;
  display: block;
  position: relative;
}
div[id*="accordion"] .panel-heading .panel-title:hover, div[id*="accordion"] .panel-heading .panel-title:focus, div[id*="accordion"] .panel-heading .panel-title[aria-expanded="true"] {
  text-decoration: none;
  background: #f2f2f2;
  color: #414141;
}
div[id*="accordion"] .panel-heading .panel-title:after {
  content: "\f107";
  font-family: 'FontAwesome', sans-serif;
  position: absolute;
  left: 15px;
}
div[id*="accordion"] .panel-heading .panel-title[aria-expanded="true"]:after {
  content: "\f106";
}
div[id*="accordion"] .panel-heading + .panel-collapse > .panel-body {
  padding: 0 15px 15px 45px;
  border-top-color: #f2f2f2;
  background: #f2f2f2;
}
div[id*="accordion"] .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #d8d8d8;
}
#header {
  padding: 10px 0;
}
#header .navbar {
  background: #92bd1e;
}
#header .navbar .navbar-brand {
  padding: 5px 0;
  margin: 0 15px;
}
#header .navbar .navbar-brand img {
  height: 40px;
  width: auto;
}
#header .navbar ul.navbar-nav > li {
  margin-right: 60px;
}
#header .navbar ul.navbar-nav > li > a {
  color: #fff !important;
}
#header .navbar ul.navbar-nav > li.dropdown > a {
  padding-right: 16px;
}
#header .navbar ul.navbar-nav > li.dropdown > a .caret {
  display: none;
}
#header .navbar ul.navbar-nav > li.dropdown > a:after {
  content: "\f107";
  font-family: 'FontAwesome', sans-serif;
  position: absolute;
  bottom: 16px;
  right: 0;
}
#header .navbar ul.navbar-nav > li.dropdown:hover > a:after, #header .navbar ul.navbar-nav > li.dropdown > a:hover:after, #header .navbar ul.navbar-nav > li.dropdown > a:focus:after {
  content: "\f106";
}
#header .navbar .dropdown-menu {
  right: auto;
  left: 0;
  transform: translateX(-20%);
  border-radius: 5px;
}
#header .navbar .dropdown-menu > li {
  margin: 10px 0;
}
#header .navbar .dropdown-menu > li > a {
  color: #666;
}
#header .navbar .dropdown-menu > li:hover > a, #header .navbar .dropdown-menu > li > a:hover, #header .navbar .dropdown-menu > li > a:focus, #header .navbar .dropdown-menu > .open > a, #header .navbar .dropdown-menu > .open > a:hover, #header .navbar .dropdown-menu > .open > a:focus, #header .navbar .dropdown-menu > .current_page_item > a, #header .navbar .dropdown-menu > .current_page_parent > a {
  color: #92bd1e;
}
@media (max-width: 767px) {
  #header .navbar-toggle {
    float: left;
    margin-right: 0;
    margin-left: 10px;
  }
  #header .navbar-toggle .icon-bar {
    background: #fff;
  }
  #navigation .navbar .navbar-collapse {
    background: inherit;
    height: auto !important;
  }
  #header .navbar ul.navbar-nav > li {
    margin: 0;
    border: none;
  }
  #header .navbar ul.navbar-nav > li > a {
    padding-left: 7px;
  }
  #navigation .navbar .dropdown-menu {
    height: auto !important;
    position: relative;
    left: 0;
    right: 0;
    margin: 0;
    transform: none;
    background: inherit;
    color: #fff;
  }
  #navigation .navbar .dropdown-menu li {
    margin: 0;
    padding: 0;
    border: none;
  }
  #navigation .navbar .dropdown-menu li a {
    color: #fff !important;
  }
  #navigation .navbar .navbar-nav li.open > a, #navigation .navbar .navbar-nav li > a:hover, #navigation .navbar .navbar-nav li > a:focus {
    background: inherit;
  }
}
#teaser .carousel-caption {
  text-align: left;
}
#teaser .carousel-caption h1 {
  color: #414141;
  margin: 0 0 30px 0;
}
@media (max-width: 767px) {
  #teaser .carousel-caption {
    left: 15px;
    right: 15px;
  }
  #teaser .carousel-caption h1 {
    font-size: 2.5rem;
  }
}
#breadcrumbs {
  border: none;
}
#breadcrumbs a, #breadcrumbs strong {
  margin: 0 8px;
}
#breadcrumbs p > span > span > a {
  margin-left: 0;
}
#breadcrumbs .breadcrumb_last {
  font-weight: 400;
}
h1 {
  margin-bottom: 20px;
}
#content h1, #sidebar .h1 {
  font-size: 2rem;
}
#content h2 {
  font-size: 1.75rem;
}
.btn-lg {
  font-size: 1rem;
  height: auto !important;
  padding: 7px 25px;
  border-radius: 4px;
  top: auto;
}
.btn-xcore {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.15);
}
.btn-white {
  padding: 7px 25px;
  border-radius: 4px;
  top: auto;
  color: #009b78;
  background: #fff;
  border-color: #fff;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.15);
}
.btn-white:hover, .btn-white:focus {
  color: #008984;
  background: #fff;
  border-color: #fff;
}
.img-rounded-small {
  border-radius: 4px;
}
.section.jobs {
  padding: 110px 0 160px 0 !important;
  background-image: url('./_/img/bg_apfel.png');
  background-position: bottom right;
  background-size: contain;
  background-repeat: no-repeat;
}
.section.jobs .job, .section.jobs .job-more {
  background: #fff;
  border: 1px solid #d8d8d8;
  padding: 15px;
  border-radius: 5px;
  margin: 15px 0;
  min-height: 138px;
  position: relative;
}
.section.jobs .job:hover {
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.15);
}
.section.jobs .job h3 {
  font-size: 1.375rem;
  min-height: 72px;
  line-height: 1.2;
}
.section.jobs .job h3 a {
  color: #009b78;
  display: inline-block;
}
.section.jobs .job h3 a:hover, .section.jobs .job h3 a:focus {
  color: #008984;
}
.section.jobs .job .job-standort {
  margin: 0;
  float: left;
}
.section.jobs .job .job-bereich {
  margin: 0;
  float: right;
}
.section.jobs .job-more {
  border-color: #d8d8d8;
  background: #f2f2f2;
}
.section.jobs .job-more p:last-of-type {
  position: absolute;
  left: 15px;
  bottom: -20px;
  margin: 0;
}
.section.jobs .job-more .h4 {
  font-size: 1.375rem;
  color: #009b78;
}
.badge-job {
  text-transform: uppercase;
  border: 1px solid #d8d8d8;
  border-radius: 4px;
  padding: 5px 10px;
  font-weight: 400;
  background: #f2f2f2;
  color: #666;
}
.section#whatwedo {
  margin-top: 40px;
  padding: 0;
}
.section#whatwedo > .container {
  background: #f0f5de;
  background: -moz-linear-gradient(-45deg, rgba(240, 245, 222, 1) 0%, rgba(213, 229, 167, 1) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(240, 245, 222, 1) 0%, rgba(213, 229, 167, 1) 100%);
  background: linear-gradient(135deg, rgba(240, 245, 222, 1) 0%, rgba(213, 229, 167, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f5de', endColorstr='#d5e5a7',GradientType=1);
}
.section#whatwedo > .container > .row {
  padding: 0 0 40px 0;
  background-image: url('./_/img/bg_pattern.png');
  margin: 0;
}
.section#whatwedo img {
  margin: 0 auto;
  transform: translateY(-55px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
#sidebar .widget_navigation .h1 {
  font-size: 1rem !important;
}
#sidebar .widget_navigation ul {
  padding: 0;
  margin: 0;
  list-style: none;
  border-top: 1px solid #d8d8d8;
  margin-top: 40px;
}
#sidebar .widget_navigation ul li {
  border-bottom: 1px solid #d8d8d8;
  padding: 10px 0;
  line-height: 24px;
}
#sidebar .widget_navigation ul li a {
  color: #414141;
}
#sidebar .widget_navigation ul li a span {
  color: #999;
  margin-left: 4px;
}
#sidebar .widget_navigation ul li a span:before {
  content: "(";
}
#sidebar .widget_navigation ul li a span:after {
  content: ")";
}
#sidebar .widget_navigation ul li.active a, #sidebar .widget_navigation ul li.widget_subpages_current_page a, #sidebar .widget_navigation ul li a:hover, #sidebar .widget_navigation ul li a:focus {
  color: #92bd1e;
  text-decoration: none;
}
#sidebar .back {
  color: #999;
  font-size: 1.125rem;
}
#sidebar .back:hover, #sidebar .back:focus {
  text-decoration: none;
  color: #92bd1e;
}
#sidebar .back .fa {
  margin-right: 5px;
}
@media (max-width: 767px) {
  #sidebar {
    margin-bottom: 30px;
  }
}
.jobs-section {
  margin-top: 40px;
}
.jobs-section .list-jobs {
  font-size: 1.25rem;
}
.jobs-section .list-jobs li {
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}
.jobs-section .list-jobs li a {
  color: #009b78;
  text-decoration: none;
}
.jobs-section .list-jobs li a:hover, .jobs-section .list-jobs li a:focus {
  color: #008984;
}
.single-job .job-thumbnail img {
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-bottom: 30px;
}
.single-job #content h4 {
  margin-top: 50px;
}
.single-job #content ul {
  list-style: none;
  padding: 0 0 10px 0;
}
.single-job #content ul li {
  margin-top: 10px;
  position: relative;
  padding-left: 16px;
}
.single-job #content ul li:before {
  color: #009b78;
  content: "\f111";
  font-family: 'FontAwesome', sans-serif;
  font-size: 8px;
  line-height: 22px;
  text-align: center;
  position: absolute;
  left: 0;
}
.single-job #content ul li:first-of-type {
  margin-top: 0;
}
.job-contact {
  padding: 30px;
  background: url('./_/img/bg_pattern_sw.png') #f2f2f2;
  margin: 40px 0;
  border-radius: 4px;
}
.job-contact .h4 {
  font-family: 'AbsaraSansHeadlineComp-Regular', sans-serif;
  color: #666;
  font-size: 1.75rem;
  font-weight: 400;
}
.job-contact .h4.gray {
  color: #999;
}
.job-contact .gray-light {
  color: #999;
  margin-top: 30px;
}
.single-job article.job ul {
  margin-left: 30px;
}
.ansprechpartner h3 {
  margin: 30px 0 5px 0;
  font-size: 1.375rem;
}
.ansprechpartner .contact {
  margin-top: 20px;
}
.standort h3 {
  margin: 30px 0 5px 0;
  font-size: 1.375rem;
}
.standort p {
  margin-top: 20px;
}
.box-ap .box-ap-header img {
  margin: 0 !important;
  border-radius: 5px 5px 0 0;
}
.box-ap .box-ap-body {
  padding: 15px 15px 30px 15px;
  background: url('./_/img/bg_pattern_sw.png') #f2f2f2;
  border-radius: 0 0 4px 4px;
}
.box-ap .box-ap-body + p .btn {
  margin: -30px 0 0 15px;
}
#content .gform_wrapper {
  max-width: 700px;
}
#content .gform_wrapper input[type="text"], #content .gform_wrapper textarea {
  width: 100% !important;
  border: 1px solid #d8d8d8;
  padding: 22px 10px 8px 10px;
  outline: none;
  border-radius: 3px;
}
#content .gform_wrapper input[type="text"]:focus, #content .gform_wrapper textarea:focus {
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.15);
}
#content .gform_wrapper .gform_footer input.button {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.15);
  color: #fff;
  background: #92bd1e;
  border: 1px solid #92bd1e;
  padding: 7px 25px;
  border-radius: 4px;
}
#content .gform_wrapper .gform_footer input.button:focus, #content .gform_wrapper .gform_footer input.button:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.1);
  outline: none !important;
}
#content .gform_wrapper #field_1_1 .gfield_label, #content .gform_wrapper #field_1_5 .gfield_label {
  display: none;
}
#content .gform_wrapper .top_label .name_first, #content .gform_wrapper .top_label .name_last, #content .gform_wrapper .top_label .gfield {
  position: relative;
}
#content .gform_wrapper .top_label .gfield_label, #content .gform_wrapper .top_label input[type="text"] + label {
  color: #999;
  font-weight: 400;
  font-size: 12px;
  position: absolute;
  top: 5px;
  left: 10px;
  letter-spacing: normal;
  margin: 0;
}
#content .gform_wrapper .top_label input[type="text"] + label {
  top: 7px;
}
#content .gform_wrapper .gfield_required {
  color: #999;
}
#content .gform_wrapper .top_label .ginput_preview img {
  opacity: 0;
  position: absolute;
  z-index: 2;
  height: 16px;
  width: 16px;
}
#content .gform_wrapper .top_label .ginput_preview strong {
  padding-left: 16px;
}
#content .gform_wrapper .top_label .ginput_preview strong:before {
  content: "\f014";
  position: absolute;
  left: 0;
  z-index: 1;
  font-family: 'FontAwesome', sans-serif;
  color: #999;
}
#content .gform_wrapper li.gfield.gfield_error {
  background: none;
  margin-bottom: 0;
  border: none;
  padding: 0;
}
#content .gform_wrapper li.gfield.gfield_error .validation_message {
  display: none;
}
#content .gform_wrapper li.gfield.gfield_error input[type="text"], #content .gform_wrapper li.gfield.gfield_error textarea {
  border-color: #d51317;
  color: #d51317;
}
#content .gform_wrapper .alert-danger {
  padding: 20px 20px 20px 104px;
  border: none;
  background: #fbe7e7;
  color: #414141;
  position: relative;
}
#content .gform_wrapper .alert-danger:before {
  color: #d51317;
  content: "\f071";
  font-family: 'FontAwesome', sans-serif;
  font-size: 4em;
  text-align: center;
  line-height: 64px;
  height: 64px;
  width: 64px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
}
#footer {
  margin-top: 90px;
}
#footer-top {
  background: #fafafa;
  padding: 70px 0 30px 0;
}
#footer-top .h1 {
  font-size: 1rem;
  color: #999;
  margin-bottom: 20px;
  font-weight: 400;
}
#footer-top ul.menu {
  list-style: none;
  padding: 0;
}
#footer-top ul.menu li {
  line-height: 30px;
}
#footer-top ul.menu li a {
  color: #414141;
}
#footer-top .footer-logo img {
  max-height: 40px;
}
#footer-top .footer-logo span {
  color: #999;
}
#footer-symbols {
  text-align: center;
  box-shadow: 0 -15px 0 #fafafa inset;
}
#footer-symbols img {
  margin: 0 auto;
  max-height: 67px;
}
@media (min-width: 768px) {
  #footer-top .footer-logo {
    margin-top: 50px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  #footer-top .footer-logo {
    text-align: center;
    margin-bottom: 40px;
  }
  #footer-top .footer-logo img {
    margin: 0 auto;
  }
}
@media (max-width: 479px) {
  #footer-top .h1 {
    margin-bottom: 10px;
  }
  #footer-top aside {
    padding: 20px 0;
  }
  #footer-symbols {
    margin-bottom: -10px;
    box-shadow: none;
  }
  #footer-symbols img {
    max-width: 90%;
    max-height: none;
  }
}
.btn.btn-arrow-right {
  background-position: center right 25px !important;
  background-repeat: no-repeat !important;
  padding: 7px 70px 7px 25px;
}
.btn-xcore.btn-arrow-right {
  background-image: url('_/img/arrow-right-white.png') !important;
}
.btn-white.btn-arrow-right {
  background-image: url('_/img/arrow-right-cyan.png') !important;
}
@media (min-width: 1400px) {
  .home #page-builder .container {
    max-width: 1360px;
    margin: 0 auto;
  }
}
