// ALIGNMENTS
.alignleft { float: left; margin: 0 15px 10px 0; }
.aligncenter { display: block; margin: 0 auto 10px auto; }
.alignright { float: right; margin: 0 0 10px 15px; }
.alignnone { float: none; display: block; margin: 0 0 10px 0; }

// IMAGES
img[class*="wp-image-"] { display: block; max-width: 100%; height: auto; }
.wp-caption { max-width: 100%; width: auto !important; }
.wp-caption-text { font-size: 0.875rem; margin: 5px 0 0 0; color: #999; font-style: italic; }
.wp-caption img { height: auto; }
.mfp-title { font-size: 0.875rem !important; }
.wp-smiley { height: 16px; width: auto; max-width: 16px; }

// MISC
p.empty { padding: 0; margin: 0; line-height: 0; }
span.highlight { padding: 0 .1em; background-color: #f9fbf3; display: inline-block; margin: 0 .1em; box-shadow: 0 0 0 .1em #f9fbf3; }
.grayscale { -webkit-backface-visibility: hidden; filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale"); filter: gray; filter: alpha(opacity=100); -webkit-filter: grayscale(100%); display: inline-block; -webkit-transition: all 0.5s; transition: all 0.5s; }
.grayscale:hover { filter: none; -webkit-filter: none; filter: alpha(opacity=100); }
.browserupgrade { background: #d51317; color: #fff; text-align: center; padding: 10px; }
.browserupgrade  a { color: #fff; text-decoration: underline; }
.no-padding .row div[class*=col-] { padding: 0; }
@media (max-width: 479px) {
	.hidden-xxs { display: none !important; }
}
@media print {
	#topbar, #header, #navigation, #breadcrumbs, #sidebar, #footer, .post-social, .post-related, .post-postnav, .post-comments { display: none !important; }
}
@-moz-document url-prefix() {
	fieldset { display: table-cell; }
}
