// BLOG
/*
.post > h2 > a,
.search #content .page > h2 > a { color: #414141; }
.post > h2 > a:hover,
.post > h2 > a:focus,
.search #content .page > h2 > a:hover,
.search #content .page > h2 > a:focus { color: #008984; }
.search #content .page .post-meta,
.search #content .page > a { display: none; }
.post-large img { margin-bottom: 10px; }
.post-large { padding-bottom: 20px; margin-bottom: 20px; border-bottom: 1px solid #e5e5e5; }
.post-large p:not(.post-meta):last-of-type { margin-bottom: 0; }
.post-small { padding-bottom: 20px; margin-bottom: 20px; border-bottom: 1px solid #e5e5e5; }
.post-small p:not(.post-meta):last-of-type { margin-bottom: 0; }
.post-meta { font-size: 0.875rem; line-height: 20px; color: #999; }
.post-meta a { color: inherit; }
.post-meta a:hover,
.post-meta a:focus { color: #008984; }
.post-meta span:after { content: "·"; width: 5px; display: inline-block; text-align: center; margin-left: 5px; }
.post-meta span:last-of-type:after { content: none; }
.pagination { border-radius: 0; }
.pagination > li > a,
.pagination > li > span { color: #008984; border-color: #e5e5e5; border-radius: 0; }
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus { color: #008984; background-color: #fcfcfc; border-color: #e5e5e5; }
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus { color: #fff; background-color: #008984; border-color: #008984; }
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus { color: #999; background-color: #fcfcfc; border-color: #e5e5e5; }
.gallery .gallery-item { margin-bottom: 15px; }
.comment { min-height: 70px; }
.comment .media-heading { font-weight: 600; }
.comment .media-heading a { color: #414141; }
.comment .media-heading a:hover,
.comment .media-heading a:focus { color: #008984; }
.comment .media-heading small { font-size: 0.875rem; font-weight: 400; color: #999; }
.comment .comment-reply-link { float: right; opacity: 0.5; font-size: 0.875rem; }
.comment .comment-reply-link:hover,
.comment .comment-reply-link:focus { opacity: 1; text-decoration: none; }
.comment .comment-reply-link:after { content: "\e095"; font-family: 'Glyphicons Halflings', sans-serif; float: left; margin-right: 10px; margin-top: 2px; }
.comment.depth-1 .comment { margin: 20px 0 0 23px; padding-left: 33px; border-left: 2px solid #e5e5e5; }
.comment.bypostauthor { position: relative; }
.comment.bypostauthor:after { content: "Autor"; background: #414141; width: 48px; color: #fff; font-size: 10px; line-height: 16px; padding: 0 10px; position: absolute; top: 53px; left: 0; }
.comment.depth-1 .comment.bypostauthor:after { left: 33px; }
*/