// BREADCRUMBS
#breadcrumbs { color: $gray-light; padding: 10px 0; font-size: 0.875rem; line-height: 20px; border-bottom: 1px solid $near-white; border-top: 1px solid $near-white; }
#breadcrumbs p { margin: 0; }
#breadcrumbs a { color: inherit; }
#breadcrumbs a:hover,
#breadcrumbs a:focus { color: #009B78; text-decoration: none; }
#breadcrumbs .fa { margin: 0 5px; }