// BUTTONS

.btn { height: 36px !important; position: relative; outline: none !important; padding: 6px 14px; font-size: 1rem; }
.btn:active { position: relative; top: 0; height: 36px; }

@mixin btn($color) {
	top: -2px; color: #fff; background: $color; border-color: $color; box-shadow: 0 2px 0 0 darken($color, 5%);
	&:hover, &:focus, &:active {
		&:hover, &:focus {
			color: #fff; background: $color; border-color: darken($color, 2%);
		}
	}
}

.btn-xcore, .btn-success {
	@include btn($primary);
}
.btn-cyan, .btn-primary {
	@include btn($secondary);
}
.btn-red, .btn-danger {
	@include btn($danger);
}
.btn-blue, .btn-info {
	@include btn($info);
}
.btn-yellow, .btn-warning {
	@include btn($warning);
}