// PRODUCT CAROUSEL
.carousel-products .carousel-inner > .item,
.carousel-products .carousel-inner > .item .col-sm-15,
.carousel-products .carousel-inner > .item .product  { background: #fff; }
.carousel-products .carousel-control { width: 4%; background-image: none; }
.carousel-products .carousel-control.left { margin-left: 15px; }
.carousel-products .carousel-control.right { margin-right: 15px; }
.carousel-products .carousel-inner > .item { background: #fff; }
.carousel-products .cloneditem-1,
.carousel-products .cloneditem-2,
.carousel-products .cloneditem-3,
.carousel-products .cloneditem-4 { display: none; }
@media all and (min-width: 100px) {
	.carousel-products .carousel-inner > .active.left,
	.carousel-products .carousel-inner > .prev { left: -50%; }
	.carousel-products .carousel-inner > .active.right,
	.carousel-products .carousel-inner > .next { left: 50%; }
	.carousel-products .carousel-inner > .left,
	.carousel-products .carousel-inner > .prev.right,
	.carousel-products .carousel-inner > .active { left: 0; }
	.carousel-products .carousel-inner .cloneditem-1 { display: block; }
}
@media all and (min-width: 100px) and (transform-3d), all and (min-width: 100px) and (-webkit-transform-3d) {
	.carousel-products .carousel-inner > .item.active.right,
	.carousel-products .carousel-inner > .item.next { -webkit-transform: translate3d(50%, 0, 0); transform: translate3d(50%, 0, 0); left: 0; }
	.carousel-products .carousel-inner > .item.active.left,
	.carousel-products .carousel-inner > .item.prev { -webkit-transform: translate3d(-50%, 0, 0); transform: translate3d(-50%, 0, 0); left: 0; }
	.carousel-products .carousel-inner > .item.left,
	.carousel-products .carousel-inner > .item.prev.right,
	.carousel-products .carousel-inner > .item.active { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); left: 0; }
}
@media all and (min-width: 992px) {
	.carousel-products .carousel-inner > .active.left,
	.carousel-products .carousel-inner > .prev { left: -25%; }
	.carousel-products .carousel-inner > .active.right,
	.carousel-products .carousel-inner > .next { left: 25%; }
	.carousel-products .carousel-inner > .left,
	.carousel-products .carousel-inner > .prev.right,
	.carousel-products .carousel-inner > .active { left: 0; }
	.carousel-products .carousel-inner .cloneditem-2,
	.carousel-products .carousel-inner .cloneditem-3 { display: block; }

}
@media all and (min-width: 992px) and (transform-3d), all and (min-width: 992px) and (-webkit-transform-3d) {
	.carousel-products .carousel-inner > .item.active.right,
	.carousel-products .carousel-inner > .item.next { -webkit-transform: translate3d(25%, 0, 0); transform: translate3d(25%, 0, 0); left: 0; }
	.carousel-products .carousel-inner > .item.active.left,
	.carousel-products .carousel-inner > .item.prev { -webkit-transform: translate3d(-25%, 0, 0); transform: translate3d(-25%, 0, 0); left: 0; }
	.carousel-products .carousel-inner > .item.left,
	.carousel-products .carousel-inner > .item.prev.right,
	.carousel-products .carousel-inner > .item.active { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); left: 0; }
}
@media all and (min-width: 1200px) {
	.carousel-products .carousel-inner > .active.left,
	.carousel-products .carousel-inner > .prev { left: -20%; }
	.carousel-products .carousel-inner > .active.right,
	.carousel-products .carousel-inner > .next { left: 20%; }
	.carousel-products .carousel-inner > .left,
	.carousel-products .carousel-inner > .prev.right,
	.carousel-products .carousel-inner > .active { left: 0; }
	.carousel-products .carousel-inner .cloneditem-4 { display: block; }
}
@media all and (min-width: 1200px) and (transform-3d), all and (min-width: 1200px) and (-webkit-transform-3d) {
	.carousel-products .carousel-inner > .item.active.right,
	.carousel-products .carousel-inner > .item.next { -webkit-transform: translate3d(20%, 0, 0); transform: translate3d(20%, 0, 0); left: 0; }
	.carousel-products .carousel-inner > .item.active.left,
	.carousel-products .carousel-inner > .item.prev { -webkit-transform: translate3d(-20%, 0, 0); transform: translate3d(-20%, 0, 0); left: 0; }
	.carousel-products .carousel-inner > .item.left,
	.carousel-products .carousel-inner > .item.prev.right,
	.carousel-products .carousel-inner > .item.active { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); left: 0; }
}