// CONTENT
#main,
#page-builder .section { padding: 40px 0; }
#page-builder .section:first-of-type { padding-top: 0; }
#page-builder .section:last-of-type { padding-bottom: 0; }
#main > .container > #content > :first-child,
#main > .container > .row > .col-sm-8 > #content > :first-child,
#main > .container > .row > .col-sm-4 > #sidebar > :first-child,
#page-builder > .section > .container > .inner > :first-child  { margin-top: 0; }
@media (max-width: 767px) {
	#main,
	#page-builder .section { padding: 15px 0; }
	#page-builder .section:first-of-type { padding-top: 0; }
	#page-builder .section:last-of-type { padding-bottom: 0; }
}

#map_canvas { height: 400px; }
@media (min-width: 768px) {
	.dl-horizontal dt { width: 200px; text-align: left; }
	.dl-horizontal dd { margin-left: 220px; }
	.error404  #content h1 { font-size: 3rem; }
}

// CONTENT PRODUCTS
.product { margin-bottom: 30px; }
.product .product-image img { margin: 0 auto 30px auto; }
.product .product-title { min-height: 70px; display: block; margin-bottom: 10px; }
.product .product-title h3 { font-size: 1.25rem; margin: 0 0 3px 0; }
.product .product-title h3 a { color: $gray-dark; }
.product .product-title .product-subtitle { color: $gray-light; font-size: 0.875rem; margin: 0; }
.product .product-price .price { margin: 0; font-size: 2.25rem; font-weight: 900; }
.product .product-price .price .currency { font-size: 1.25rem; color: inherit; font-weight: 400; margin-right: 2px; }
.product .product-price .price del { position: relative; color: $gray-light; font-size: 0.875rem; top: -1em; font-weight: 400; text-decoration: none; }
.product .product-price .price del:after { content: ""; position: absolute; display: block; height: 1px;  top: 5px; left: -2px; right: -2px; background: $danger; transform: rotate(-15deg); }
.product .product-price .price del .currency { color: $gray-light; font-size: 0.875rem; }
.product .product-price .price .price-sale { color: $danger; }
.product .product-price .price-info { color: $gray-light; font-size: 0.875rem; margin: 0; }

// FONTPAGE
#page-builder .section.textarea-caption { padding-top: 0; }
#page-builder .section.textarea-caption .inner { position: relative; min-height: 300px !important; }
#page-builder .section.textarea-caption .caption { position: absolute; bottom: 20px; left: 20px; right: 20px; background: rgba(255, 255, 255, 0.94); padding: 20px; }
#page-builder .section.textarea-caption .caption > :last-child { margin-bottom: 0; }