// FOOTER
#footer { position: relative; margin-top: 30px; }

// FOOTER NAV
#footer #footer-nav { background: $primary; padding: 15px 0; }
#footer #footer-nav ul { margin: 0; }
#footer #footer-nav ul li { padding: 0; margin: 0 30px 0 0; }
#footer #footer-nav ul li:last-of-type { margin: 0; }
#footer #footer-nav ul li a { font-size: 1.125rem; color: #fff; border-bottom: 2px solid transparent }
#footer #footer-nav ul li a:hover,
#footer #footer-nav ul li a:focus { text-decoration: none; border-color: #fff; }

// FOOTER SECTIONS
#footer #footer-sections { background: #fafafa; }
#footer #footer-sections p:last-of-type { margin-bottom: 0; }
#footer #footer-sections .footer-section { padding: 50px 0; border-top: 1px solid $border; border-bottom: 1px solid $border; }
#footer #footer-sections .footer-section .h1,
#footer #footer-sections .footer-section .h2 { line-height: 1.33;  font-family: 'AbsaraSansHeadlineComp', sans-serif; font-weight: 400; }
#footer #footer-sections .footer-section .h1 a,
#footer #footer-sections .footer-section .h2 a { color: inherit !important; }
#footer #footer-sections .footer-section .h1 { color: $gray-dark; font-size: 1.75rem; }
#footer #footer-sections .footer-section .h1 .text-gray { color: $gray-light; display: block; }
#footer #footer-sections .footer-section .h2 { color: $gray-light; font-size: 1.375rem; margin-bottom: 15px; }
#footer #footer-sections .footer-section .list-footer-menu { margin: 0; line-height: 2; }
#footer #footer-sections .footer-section .list-footer-menu li a { color: $gray-dark; }
/* @TODO */
#footer #footer-sections .footer-section-banner { display: none; }
#footer #footer-sections .footer-section-gurantee { padding-top: 25px; border-top: none; }
#footer #footer-sections .footer-section-gurantee .col-sm-8 { text-align: center; }
#footer #footer-sections .footer-section-gurantee img { max-height: 64px; width: auto; }
#footer #footer-sections .footer-section-customer-service {}
#footer #footer-sections .footer-section-customer-service .list-footer-icon li { position: relative; }
#footer #footer-sections .footer-section-customer-service .list-footer-icon li a { padding-left: 32px; }
#footer #footer-sections .footer-section-customer-service .list-footer-icon li a:before { content: ""; display: inline-block; height: 24px; width: 24px; position: absolute; left: 0; background-position-y: 0; }
#footer #footer-sections .footer-section-customer-service .list-footer-icon li a:hover:before { background-position-y: -24px; }
#footer #footer-sections .footer-section-customer-service .list-payments li a:before { background-image: url('_/img/payment.png'); background-size: 120px 48px; }
#footer #footer-sections .footer-section-customer-service .list-social li a:before { background-image: url('_/img/social_media.png'); background-size: 96px 48px; }
#footer #footer-sections .footer-section-customer-service .list-payments li a._pp:before { background-position-x: 0; }
#footer #footer-sections .footer-section-customer-service .list-payments li a._ca:before { background-position-x: -24px; }
#footer #footer-sections .footer-section-customer-service .list-payments li a._ec:before { background-position-x: -48px; }
#footer #footer-sections .footer-section-customer-service .list-payments li a._in:before { background-position-x: -72px; }
#footer #footer-sections .footer-section-customer-service .list-payments li a._dd:before { background-position-x: -96px; }
#footer #footer-sections .footer-section-customer-service .list-social li a._fb:before { background-position-x: 0; }
#footer #footer-sections .footer-section-customer-service .list-social li a._tw:before { background-position-x: -24px; }
#footer #footer-sections .footer-section-customer-service .list-social li a._in:before { background-position-x: -48px; }
#footer #footer-sections .footer-section-newsletter .h1 { height: 80px; }
#footer #footer-sections .footer-section-newsletter .form-inline { margin-bottom: 10px; }
#footer #footer-sections .footer-section-newsletter .form-inline .btn { margin-left: 10px; }
#footer #footer-sections .footer-section-newsletter .voucherval { height: 61px; width: 72px; display: inline-block; text-align: center; float: left; margin-right: 10px; background: url('_/img/icon_voucher.png') no-repeat; background-size: 72px 61px; position: relative; }
#footer #footer-sections .footer-section-newsletter .voucherval span { transform: rotate(10deg); display: block; margin-top: 20px; }
#footer #footer-sections .footer-section-brands .h2 { margin-top: 30px; }
#footer #footer-sections .footer-section-brands .col-sm-3:nth-child(-n+4) .h2 { margin-top: 0; }
#footer #footer-sections .footer-section-logo { border-bottom: none; }
#footer #footer-sections .footer-section-logo img { max-height: 40px; width: auto; margin-bottom: 15px; }