// FORMS
.form-control { height: 36px; color: $gray-dark; background-color: #fff; border-color: #ccc; border-radius: 3px; transition: none; font-size: 1rem; }
.form-control:focus { color: $gray-dark; background-color: #fff; border-color: $gray-light; box-shadow: inset 0 1px 1px rgba($gray-dark, .075); }
.form-control::-moz-placeholder { color: $gray-light; }
.form-control:-ms-input-placeholder { color: $gray-light; }
.form-control::-webkit-input-placeholder { color: $gray-light; }
.form-control.wpcf7-not-valid { color: $danger; background-color: rgba($danger, 0.05); border-color: $danger; }
.form-control.wpcf7-not-valid:focus { color: $danger; background-color: #fff; border-color: $danger }
.form-control.wpcf7-not-valid::-moz-placeholder { color: mix($danger, $gray-light, 25%); }
.form-control.wpcf7-not-valid:-ms-input-placeholder { color: mix($danger, $gray-light, 25%); }
.form-control.wpcf7-not-valid::-webkit-input-placeholder { color: mix($danger, $gray-light, 25%); }
.control-label, .form-horizontal .control-label { text-align: left; font-weight: 400; }
.control-label sup { color: $danger; }
.wpcf7 .ajax-loader { display: none; }
.wpcf7 .screen-reader-response { display: none; }
.wpcf7 .wpcf7-not-valid-tip { display: block; font-size: 0.875rem; text-align: right; color: $danger; }
.wpcf7-radio .wpcf7-list-item, .wpcf7-checkbox .wpcf7-list-item { margin-right: 10px; }
.wpcf7-response-output.wpcf7-validation-errors { color: $danger; border-left: 3px solid $danger; margin: 20px 0; padding: 3px 10px; font-size: 0.875rem; }
.wpcf7-response-output.wpcf7-mail-sent-ok { color: $primary; border-left: 3px solid $primary; margin: 20px 0; padding: 3px 10px; font-size: 0.875rem; }
