// WRAPPER
#wrapper, #wrapper-fluid { background: #fff; }
#wrapper, .wrapped { margin-right: auto; margin-left: auto; }
@media (min-width: 768px) and (max-width: 991px) {
	#wrapper, .wrapped { width: 750px; }
}
@media (min-width: 992px) and (max-width: 1199px) {
	#wrapper, .wrapped { width: 970px; }
}
@media (min-width: 1200px) {
	#wrapper, .wrapped { width: 1170px; }
}
@media (min-width: 1366px) and (max-width: 1599px) {
	#wrapper, .wrapped, .container { width: 1260px; }
}
@media (min-width: 1600px){
	#wrapper, .wrapped, .container { width: 1500px; }
}
@media (min-width: 1700px){
	#wrapper, .wrapped, .container { width: 1640px; }
}

// COL-15
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 { position: relative; min-height: 1px; padding-right: 15px; padding-left: 15px; }
.col-xs-15 { float: left; width: 20%; }
.col-xs-pull-15 { right: 20%; }
.col-xs-push-15 { left: 20%; }
.col-xs-offset-15 { margin-left: 20%; }
@media (min-width: 768px) {
	.col-sm-15 { float: left; width: 20%; }
	.col-sm-pull-15 { right: 20%; }
	.col-sm-push-15 { left: 20%; }
	.col-sm-offset-15 { margin-left: 20%; }
}
@media (min-width: 992px) {
	.col-md-15 { float:left; width: 20%; }
	.col-md-pull-15 { right: 20%; }
	.col-md-push-15 { left: 20%; }
	.col-md-offset-15 { margin-left: 20%; }
}
@media (min-width: 1200px) {
	.col-lg-15 { float: left; width: 20%; }
	.col-lg-pull-15 { right: 20%; }
	.col-lg-push-15 { left: 20%; }
	.col-lg-offset-15 { margin-left: 20%; }
}

// COL XXS 12
@media (max-width: 479px) {
	.col-xxs-12 { width: 100%; float: none; }
}