//HEADER
#header { background: $primary; padding: 10px 0; }
#header .brand { display: table; }
#header .brand img { width: auto; max-height: 40px; }
#header .searchform { position: relative; }
#header .searchform .input-group { display: block; width: 100%; }
#header .searchform .input-group-btn { width: auto; position: absolute; right: 0; z-index: 9; }
#header .searchform .form-control,
#header .searchform .btn { -webkit-appearance: none; top: 0; height: 40px !important; color: $gray-light; border-color: #fff !important; box-shadow: none; -moz-box-shadow: none; -webkitbox-shadow: none; border-radius: 3px; }
#header .searchform .form-control:focus { color: $gray-dark; box-shadow: 0 3px 10px 0 rgba($gray-dark, .25) !important; }
#header .searchform .btn { border-radius: 0 3px 3px 0; }
#header .searchform .btn .glyphicon { line-height: 24px; background: url('http://themenwelt.bringmeister.de./_/img/icon-search.png') no-repeat center center; background-size: 20px 20px; height: 26px; width: 20px; display: inline-block; }
#header .searchform .btn .glyphicon:before { content: none; }
#header .searchform .btn:hover,
#header .searchform .btn:focus,
#header .searchform .btn:active,
#header .searchform:hover .btn,
#header .searchform .form-control:focus + .input-group-btn .btn { color: $secondary; background: #fff; outline: none; }
@media (max-width: 991px) {
	#header { padding: 8px 0; }
	#header .container { width: auto; }
	#header .searchform .btn .glyphicon { font-size: 1.2rem; }
	#header .col-xs-4.col-logo { width: 80px; }
	#header .col-xs-4.col-search { width: calc( 100% - 200px ); padding: 0; }
	#header .col-xs-4.col-links { width: 120px; height: 40px; text-align: right; }
	#header .col-xs-4.col-links a { display: inline-block; height: 40px; width: 40px; margin: 0; }
	#header .col-xs-4.col-links a + a { margin-left: 6px; top: -4px; position: relative; }
	#header .col-xs-4.col-links a + a:after { color: rgba(255, 255, 255, 0.75); content: "Menü"; position: absolute; left: 0; right: 0; bottom: -4px; font-size: 10px; text-align: center; }
}
@media (min-width: 992px) {
	#header { padding: 15px 0; }
	#header .searchform .form-control { padding-left: 20px;  }
	#header .btn-outline-white { background: none; color: #fff; border-color: rgba(255, 255, 255, 0.5); padding-left: 50px; line-height: 1; height: 44px !important; text-align: left; margin: -2px 0; }
	#header .btn-outline-white:hover,
	#header .btn-outline-white:focus,
	#header .btn-outline-white:active,
	#header .btn-outline-white:hover:active,
	#header .btn-outline-white:focus:active { background: none; color: #fff; border-color: #fff; }
	#header .btn-outline-white .icon { position: absolute; left: 14px; }
	#header .btn-outline-white + .btn-outline-white { margin-left: 15px !important; }
}
/*
@media (min-width: 768px) and (max-width: 991px) {
	#header .col-xs-4.col-logo { width: 240px; padding: 0; }
	#header .col-xs-4.col-search { width: calc(100% - 500px); }
	#header .col-xs-4.col-links { width: 260px; text-align: right; padding: 0; }
}
*/
#header .col-links { text-align: right; }