// ICONS

.icon { vertical-align: middle; background: url('_/img/sprite.png'); background-position: 0 0; background-repeat: no-repeat; display: inline-block; }

.icon-64 { background-size: 448px 192px; height: 64px; width: 64px; }
.icon-64.icon-white		{ background-position-y:  -64px; }
.icon-64.icon-green		{ background-position-y:  -128px; }
.icon-64.icon-burger	{ background-position-x:      0; }
.icon-64.icon-deliver	{ background-position-x:  -64px; }
.icon-64.icon-star		{ background-position-x: -128px; }
.icon-64.icon-checklist	{ background-position-x: -192px; }
.icon-64.icon-user		{ background-position-x: -256px; }
.icon-64.icon-cart		{ background-position-x: -320px; }
.icon-64.icon-close		{ background-position-x: -384px; }

.icon-40 { background-size: 280px 120px; height: 40px; width: 40px; }
.icon-40.icon-white		{ background-position-y:  -40px; }
.icon-40.icon-green		{ background-position-y:  -80px; }
.icon-40.icon-burger	{ background-position-x:      0; }
.icon-40.icon-deliver	{ background-position-x:  -40px; }
.icon-40.icon-star		{ background-position-x:  -80px; }
.icon-40.icon-checklist	{ background-position-x: -120px; }
.icon-40.icon-user		{ background-position-x: -160px; }
.icon-40.icon-cart		{ background-position-x: -200px; }
.icon-40.icon-close		{ background-position-x: -240px; }

.icon-32 { background-size: 224px 96px; height: 32px; width: 32px; }
.icon-32.icon-white		{ background-position-y:  -32px; }
.icon-32.icon-green		{ background-position-y:  -64px; }
.icon-32.icon-burger	{ background-position-x:      0; }
.icon-32.icon-deliver	{ background-position-x:  -32px; }
.icon-32.icon-star		{ background-position-x:  -64px; }
.icon-32.icon-checklist	{ background-position-x:  -96px; }
.icon-32.icon-user		{ background-position-x: -128px; }
.icon-32.icon-cart		{ background-position-x: -160px; }
.icon-32.icon-close		{ background-position-x: -192px; }

.icon-20 { background-size: 140px 60px; height: 20px; width: 20px; }
.icon-20.icon-white		{ background-position-y:  -20px; }
.icon-20.icon-green		{ background-position-y:  -40px; }
.icon-20.icon-burger	{ background-position-x:      0; }
.icon-20.icon-deliver	{ background-position-x:  -20px; }
.icon-20.icon-star		{ background-position-x:  -40px; }
.icon-20.icon-checklist	{ background-position-x:  -60px; }
.icon-20.icon-user		{ background-position-x:  -80px; }
.icon-20.icon-cart		{ background-position-x: -100px; }
.icon-20.icon-close		{ background-position-x: -120px; }

.icon-16 { background-size: 112px 48px; height: 16px; width: 16px; }
.icon-16.icon-white		{ background-position-y:  -16px; }
.icon-16.icon-green		{ background-position-y:  -32px; }
.icon-16.icon-burger	{ background-position-x:      0; }
.icon-16.icon-deliver	{ background-position-x:  -16px; }
.icon-16.icon-star		{ background-position-x:  -32px; }
.icon-16.icon-checklist	{ background-position-x:  -48px; }
.icon-16.icon-user		{ background-position-x:  -64px; }
.icon-16.icon-cart		{ background-position-x:  -80px; }
.icon-16.icon-close		{ background-position-x:  -96px; }
