// HEADER
#header { padding: 10px 0; }
#header .navbar { background: $primary; }
#header .navbar .navbar-brand { padding: 5px 0; margin: 0 15px; }
#header .navbar .navbar-brand img { height: 40px; width: auto; }
#header .navbar ul.navbar-nav > li { margin-right: 60px; }
#header .navbar ul.navbar-nav > li > a { color: #fff !important; }
#header .navbar ul.navbar-nav > li.dropdown > a { padding-right: 16px; }
#header .navbar ul.navbar-nav > li.dropdown > a .caret { display: none; }
#header .navbar ul.navbar-nav > li.dropdown > a:after { content: "\f107"; font-family: 'FontAwesome', sans-serif; position: absolute; bottom: 16px; right: 0; }
#header .navbar ul.navbar-nav > li.dropdown:hover > a:after,
#header .navbar ul.navbar-nav > li.dropdown > a:hover:after,
#header .navbar ul.navbar-nav > li.dropdown > a:focus:after { content: "\f106"; }
#header .navbar .dropdown-menu { right: auto; left: 0; transform: translateX(-20%); border-radius: 5px; }
#header .navbar .dropdown-menu > li { margin: 10px 0; }
#header .navbar .dropdown-menu > li > a { color: $gray; }
#header .navbar .dropdown-menu > li:hover > a,
#header .navbar .dropdown-menu > li > a:hover,
#header .navbar .dropdown-menu > li > a:focus,
#header .navbar .dropdown-menu > .open > a,
#header .navbar .dropdown-menu > .open > a:hover,
#header .navbar .dropdown-menu > .open > a:focus,
#header .navbar .dropdown-menu > .current_page_item > a,
#header .navbar .dropdown-menu > .current_page_parent > a { color: #92bd1e; }
@media (max-width: 767px) {
	#header .navbar-toggle { float: left; margin-right: 0; margin-left: 10px; }
	#header .navbar-toggle .icon-bar { background: #fff; }
	#navigation .navbar .navbar-collapse { background: inherit; height: auto !important; }
	#header .navbar ul.navbar-nav > li { margin: 0; border: none; }
	#header .navbar ul.navbar-nav > li > a { padding-left: 7px; }
	#navigation .navbar .dropdown-menu { height: auto !important; position: relative; left: 0; right: 0; margin: 0; transform: none; background: inherit; color: #fff; }
	#navigation .navbar .dropdown-menu li { margin: 0; padding: 0; border: none; }
	#navigation .navbar .dropdown-menu li a { color: #fff !important; }
	#navigation .navbar .navbar-nav li.open > a,
	#navigation .navbar .navbar-nav li > a:hover,
	#navigation .navbar .navbar-nav li > a:focus { background: inherit; }
}

// TEASER
#teaser .carousel-caption { text-align: left; }
#teaser .carousel-caption h1 { color: $gray-dark; margin: 0 0 30px 0; }
@media (max-width: 767px) {
	#teaser .carousel-caption { left: 15px; right: 15px; }
	#teaser .carousel-caption h1 { font-size: 2.5rem; }
}
// BREADCRUMBS
#breadcrumbs { border: none; }
#breadcrumbs a,
#breadcrumbs strong { margin: 0 8px; }
#breadcrumbs p > span > span > a { margin-left: 0; }
#breadcrumbs .breadcrumb_last { font-weight: 400; }

// CONTENT
h1 { margin-bottom: 20px; }
#content h1,
#sidebar .h1 { font-size: 2rem; }
#content h2 { font-size: 1.75rem }
.btn-lg { font-size: 1rem; height: auto !important; padding: 7px 25px; border-radius: 4px; top: auto; }
.btn-xcore { box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.15); }
.btn-white { padding: 7px 25px; border-radius: 4px; top: auto; color: #009b78; background: #fff; border-color: #fff; box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.15); }
.btn-white:hover,
.btn-white:focus { color: #008984; background: #fff; border-color: #fff; }
.img-rounded-small { border-radius: 4px; }

// START: JOBS
.section.jobs { padding: 110px 0 160px 0 !important; background-image: url('./_/img/bg_apfel.png'); background-position: bottom right;background-size: contain;background-repeat: no-repeat; }
.section.jobs .job,
.section.jobs .job-more { background: #fff; border: 1px solid $border; padding: 15px; border-radius: 5px; margin: 15px 0; min-height: 138px; position: relative; }
.section.jobs .job:hover { box-shadow: 0 4px 7px rgba(0, 0, 0, 0.15); }
.section.jobs .job h3 { font-size: 1.375rem; min-height: 72px; line-height: 1.2; }
.section.jobs .job h3 a { color: #009b78; display: inline-block; }
.section.jobs .job h3 a:hover,
.section.jobs .job h3 a:focus { color: #008984; }
.section.jobs .job .job-standort { margin: 0; float: left; }
.section.jobs .job .job-bereich { margin: 0; float: right; }
.section.jobs .job-more { border-color: $border; background: $near-white; }
.section.jobs .job-more p:last-of-type { position: absolute; left: 15px; bottom: -20px; margin: 0; }
.section.jobs .job-more .h4 { font-size: 1.375rem; color: $secondary; }

.badge-job { text-transform: uppercase; border: 1px solid $border; border-radius: 4px; padding: 5px 10px; font-weight: 400; background: $near-white; color: $gray; }

// START: WHAT WE DO
.section#whatwedo { margin-top: 40px; padding: 0; }
.section#whatwedo > .container { background: rgb(240,245,222); background: -moz-linear-gradient(-45deg, rgba(240,245,222,1) 0%, rgba(213,229,167,1) 100%); background: -webkit-linear-gradient(-45deg, rgba(240,245,222,1) 0%,rgba(213,229,167,1) 100%); background: linear-gradient(135deg, rgba(240,245,222,1) 0%,rgba(213,229,167,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f5de', endColorstr='#d5e5a7',GradientType=1 ); }
.section#whatwedo > .container > .row { padding: 0 0 40px 0; background-image: url('./_/img/bg_pattern.png'); margin: 0; }
.section#whatwedo img { margin: 0 auto; transform: translateY(-55px); box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15); border-radius: 4px; }

// SIDEBAR
#sidebar .widget_navigation .h1 { font-size: 1rem !important; }
#sidebar .widget_navigation ul { padding: 0; margin: 0; list-style: none; border-top: 1px solid $border; margin-top: 40px; }
#sidebar .widget_navigation ul li { border-bottom: 1px solid $border; padding: 10px 0; line-height: 24px }
#sidebar .widget_navigation ul li a { color: $gray-dark; }
#sidebar .widget_navigation ul li a span { color: $gray-light; margin-left: 4px; }
#sidebar .widget_navigation ul li a span:before { content: "("; }
#sidebar .widget_navigation ul li a span:after { content: ")"; }
#sidebar .widget_navigation ul li.active a,
#sidebar .widget_navigation ul li.widget_subpages_current_page a,
#sidebar .widget_navigation ul li a:hover,
#sidebar .widget_navigation ul li a:focus { color: #92bd1e; text-decoration: none; }
#sidebar .back { color: $gray-light; font-size: 1.125rem; }
#sidebar .back:hover,
#sidebar .back:focus { text-decoration: none; color: $primary; }
#sidebar .back .fa { margin-right: 5px; }
@media (max-width: 767px) {
	#sidebar { margin-bottom: 30px; }
}
// ARCHIVE JOB
.jobs-section { margin-top: 40px; }
.jobs-section .list-jobs { font-size: 1.25rem; }
.jobs-section .list-jobs li { padding: 10px 0; border-bottom: 1px solid #eee; }
.jobs-section .list-jobs li a { color: #009b78; text-decoration: none; }
.jobs-section .list-jobs li a:hover,
.jobs-section .list-jobs li a:focus { color: #008984; }

// SINGLE JOB
.single-job .job-thumbnail img { width: 100%; box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15); border-radius: 4px; margin-bottom: 30px; }
.single-job #content h4 { margin-top: 50px; }
.single-job #content ul { list-style: none; padding: 0 0 10px 0; }
.single-job #content ul li { margin-top: 10px; position: relative; padding-left: 16px; }
.single-job #content ul li:before { color: #009b78; content: "\f111"; font-family: 'FontAwesome', sans-serif; font-size: 8px; line-height: 22px; text-align: center; position: absolute; left: 0; }
.single-job #content ul li:first-of-type { margin-top: 0; }
.job-contact { padding: 30px; background: url('./_/img/bg_pattern_sw.png') $near-white; margin: 40px 0; border-radius: 4px; }
.job-contact .h4 { font-family: 'AbsaraSansHeadlineComp-Regular', sans-serif; color: $gray; font-size: 1.75rem; font-weight: 400; }
.job-contact .h4.gray { color: $gray-light; }
.job-contact .gray-light { color: $gray-light; margin-top: 30px; }
.single-job article.job ul { margin-left: 30px; }

// ANSPRECHPARTNER
.ansprechpartner h3 { margin: 30px 0 5px 0; font-size: 1.375rem; }
.ansprechpartner .contact { margin-top: 20px; }

// STANDORT
.standort h3 { margin: 30px 0 5px 0; font-size: 1.375rem; }
.standort p { margin-top: 20px; }

// KONTAKT
.box-ap .box-ap-header img { margin: 0 !important; border-radius: 5px 5px 0 0; }
.box-ap .box-ap-body { padding: 15px 15px 30px 15px; background: url('./_/img/bg_pattern_sw.png') $near-white; border-radius: 0 0 4px 4px; }
.box-ap .box-ap-body + p .btn { margin: -30px 0 0 15px; }
#content .gform_wrapper { max-width: 700px; }
#content .gform_wrapper input[type="text"],
#content .gform_wrapper textarea { width: 100% !important; border: 1px solid $border; padding: 22px 10px 8px 10px; outline: none; border-radius: 3px; }
#content .gform_wrapper input[type="text"]:focus,
#content .gform_wrapper textarea:focus { box-shadow: 0 4px 7px rgba(0, 0, 0, 0.15); }
#content .gform_wrapper .gform_footer input.button { box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.15); color: #fff; background: $primary; border: 1px solid $primary; padding: 7px 25px; border-radius: 4px; }
#content .gform_wrapper .gform_footer input.button:focus,
#content .gform_wrapper .gform_footer input.button:active { box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.1); outline: none !important; }
#content .gform_wrapper #field_1_1 .gfield_label,
#content .gform_wrapper #field_1_5 .gfield_label { display: none; }
#content .gform_wrapper .top_label .name_first,
#content .gform_wrapper .top_label .name_last,
#content .gform_wrapper .top_label .gfield { position: relative; }
#content .gform_wrapper .top_label .gfield_label,
#content .gform_wrapper .top_label input[type="text"] + label { color: $gray-light; font-weight: 400; font-size: 12px; position: absolute; top: 5px; left: 10px; letter-spacing: normal; margin: 0; }
#content .gform_wrapper .top_label input[type="text"] + label { top: 7px; }
#content .gform_wrapper .gfield_required { color: $gray-light; }
#content .gform_wrapper .top_label .ginput_preview img { opacity: 0; position: absolute; z-index: 2; height: 16px; width: 16px; }
#content .gform_wrapper .top_label .ginput_preview strong { padding-left: 16px; }
#content .gform_wrapper .top_label .ginput_preview strong:before { content: "\f014"; position: absolute; left: 0; z-index: 1; font-family: 'FontAwesome', sans-serif; color: $gray-light; }
#content .gform_wrapper li.gfield.gfield_error { background: none; margin-bottom: 0; border: none; padding: 0; }
#content .gform_wrapper li.gfield.gfield_error .validation_message { display: none; }
#content .gform_wrapper li.gfield.gfield_error input[type="text"],
#content .gform_wrapper li.gfield.gfield_error textarea { border-color: $danger; color: $danger;}
#content .gform_wrapper .alert-danger { padding: 20px 20px 20px 104px; border: none; background: #fbe7e7; color: $gray-dark; position: relative; }
#content .gform_wrapper .alert-danger:before { color: $danger; content: "\f071"; font-family: 'FontAwesome', sans-serif; font-size: 4em; text-align: center; line-height: 64px; height: 64px; width: 64px; position: absolute; top: 50%; transform: translateY(-50%); left: 20px; }

// FOOTER
#footer { margin-top: 90px; }
#footer-top { background: #fafafa; padding: 70px 0 30px 0; }
#footer-top .h1 { font-size: 1rem; color: $gray-light; margin-bottom: 20px; font-weight: 400; }
#footer-top ul.menu { list-style: none; padding: 0; }
#footer-top ul.menu li { line-height: 30px; }
#footer-top ul.menu li a { color: $gray-dark; }
#footer-top .footer-logo img { max-height: 40px; }
#footer-top .footer-logo span { color: $gray-light; }
#footer-symbols { text-align: center; box-shadow: 0 -15px 0 #fafafa inset; }
#footer-symbols img { margin: 0 auto; max-height: 67px; }
@media (min-width: 768px) {
	#footer-top .footer-logo { margin-top: 50px; }
}
@media (min-width: 480px) and (max-width: 767px) {
	#footer-top .footer-logo { text-align: center; margin-bottom: 40px; }
	#footer-top .footer-logo img { margin: 0 auto; }
}
@media (max-width: 479px) {
	#footer-top .h1 { margin-bottom: 10px; }
	#footer-top aside { padding: 20px 0; }
	#footer-symbols { margin-bottom: -10px;  box-shadow: none; }
	#footer-symbols img { max-width: 90%; max-height: none; }
}

.btn.btn-arrow-right { background-position: center right 25px !important; background-repeat: no-repeat !important; padding: 7px 70px 7px 25px; }
.btn-xcore.btn-arrow-right { background-image: url('_/img/arrow-right-white.png') !important; }
.btn-white.btn-arrow-right { background-image: url('_/img/arrow-right-cyan.png') !important; }
@media (min-width: 1400px) {
	.home #page-builder .container { max-width: 1360px; margin: 0 auto; }
}