// NAVIGATION MOBILE
@media (max-width: 991px) {
	#navigation .navbar { border-radius: 0; margin: 0; border: none; min-height: 0; }
	#navigation .navbar .navbar-collapse { overflow: scroll; height: calc( 100vh - 60px ) !important; background: #000; border: 0; box-shadow: none; position: relative; }
	#navigation .navbar .navbar-collapse.collapsing { transition: none !important; }
	#navigation .navbar .navbar-nav { /* margin: 0 -15px; */ margin: 0; width: 100%; }
	#navigation .navbar .navbar-nav li { position: static; border-bottom: 1px solid $border; float: none; }
	#navigation .navbar .navbar-nav li > a { font-size: 1.125rem; color: $gray-dark; padding: 6px 15px; line-height: 32px; }
	#navigation .navbar .navbar-nav li.open > a,
	#navigation .navbar .navbar-nav li > a:hover,
	#navigation .navbar .navbar-nav li > a:focus { color: $gray-dark; background: $near-white; }
	#navigation .navbar .navbar-nav li > a .icon-32 { vertical-align: top; }
	/*
	#navigation .dropdown > .dropdown-menu { left: 100% !important; display: block; transition: all 0.25s; }
	#navigation .dropdown.open > .dropdown-menu { left: 0 !important; }
	*/
	body.offcanvas-open { height: 100%; overflow: hidden; }
	#navigation .navbar-offcanvas { background: #fff; height: 100vh; /* padding: 0 15px; */ padding: 0; overflow: scroll; z-index: 999; position: absolute; left: 100%; top: 0; width: calc( 100% - 30px ); transition: all 0.25s; }
	#navigation .navbar-offcanvas.open { left: 30px; box-shadow: -50px 0 0 rgba($gray-dark, 0.75); }
	#navigation .navbar .dropdown-menu { background: #fff; overflow: scroll; height: calc( 100vh - 60px ) !important; position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: 0; padding: 0; border-radius: 0; font-size: 1rem; border: none; }
	#navigation .dropdown-menu > li > a.dropdown-menu-back { color: $gray !important; position: relative; padding-left: 30px !important; }
	#navigation .dropdown-menu > li > a.dropdown-menu-back .fa { display: none; }
	#navigation .dropdown-menu > li > a.dropdown-menu-back:after { font-size: 1.5rem; content: "\f104"; font-family: 'FontAwesome', sans-serif; position: absolute; left: 15px; top: 6px; }
	#navigation .dropdown-menu > li > a.dropdown-menu-title { padding: 2px 15px; color: $gray-dark !important; background: $near-white !important; }
	#navigation a.dropdown-toggle { position: relative; }
	#navigation a.dropdown-toggle:after { font-size: 1.75rem; content: "\f105"; font-family: 'FontAwesome', sans-serif; position: absolute; right: 15px; top: 6px; }
	/*
	#navigation .navbar .navbar-nav > .open > .dropdown-menu { background: #fff !important; }
	#navigation .navbar .navbar-nav > .open > .dropdown-menu > .open > .dropdown-menu { background: #fff !important; }
	#navigation .navbar .navbar-nav > .open > .dropdown-menu > .open > .dropdown-menu > .open > .dropdown-menu { background: #fff !important; }
	#navigation .navbar .navbar-nav > .open > .dropdown-menu > .open > .dropdown-menu > .open > .dropdown-menu > .open > .dropdown-menu { background: #fff !important; }
	*/
}

// NAVIGATION GENERAL
@media (min-width: 992px) {
	.navbar { border-radius: 0; margin: 0; border: none; }
	.navbar .navbar-nav > li > a { font-size: 0.875rem; color: rgba($gray-dark, 0.75); }
	.navbar .navbar-nav > li:hover > a,
	.navbar .navbar-nav > li > a:hover,
	.navbar .navbar-nav > li > a:focus,
	.navbar .navbar-nav > .open > a,
	.navbar .navbar-nav > .open > a:hover,
	.navbar .navbar-nav > .open > a:focus,
	.navbar .navbar-nav > .current_page_item > a,
	.navbar .navbar-nav > .current_page_parent > a { color: $gray-dark; background: none; }
	.navbar .dropdown-menu > li > a { color: $gray-dark; padding: 5px 20px; }
	.navbar .dropdown-menu > li:hover > a,
	.navbar .dropdown-menu > li > a:hover,
	.navbar .dropdown-menu > li > a:focus,
	.navbar .dropdown-menu > .open > a,
	.navbar .dropdown-menu > .open > a:hover,
	.navbar .dropdown-menu > .open > a:focus,
	.navbar .dropdown-menu > .current_page_item > a,
	.navbar .dropdown-menu > .current_page_parent > a { color: $primary; background: none; }
	.navbar.navbar-hover .navbar-nav > .dropdown:hover > .dropdown-menu,
	.navbar.navbar-hover .navbar-nav > .dropdown > .dropdown-toggle:focus + .dropdown-menu,
	.navbar.navbar-hover .dropdown-menu > .dropdown:hover > .dropdown-menu { display: block; }
	.navbar .navbar-collapse { padding: 0; }
	.navbar-right .dropdown-submenu > .dropdown-menu { right: 100%; left: auto; }
	.navbar-nav > li { margin-right: 30px; }
	.navbar-nav > li:last-of-type { margin-right: 0; }
	.navbar-nav > li > a { padding: 15px 0; }
	.dropdown-menu { background-color: #fff; font-size: 1rem; border: 1px solid $border; padding: 5px 0; box-shadow: 0 0 20px rgba($gray-dark, 0.15); border-radius: 0; }
	.dropdown-menu .caret { display: none; }
	.dropdown-submenu { position: relative; }
	.dropdown-submenu > a:after { display: block; content: " "; float: right; width: 0; height: 0; border-color: transparent; border-style: solid; border-width: 5px 0 5px 5px; border-left-color: $border; margin-top: 5px; margin-right: -10px; }
	.dropdown-submenu:hover > a:after,
	.dropdown-submenu.open > a:after,
	.dropdown-submenu > a:hover:after,
	.dropdown-submenu > a:focus:after { border-left-color: $primary; }
	.dropdown-submenu > .dropdown-menu { top: 0; left: 100%; margin-top: -6px; }
	.navbar-center .dropdown-menu { min-width: 300px; padding: 20px 15px 80px 15px; min-height: 225px; transform: translateX(-22px); box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); border-radius: 5px !important; background: url('/wp-content/uploads/iconband.png') no-repeat center bottom #fff; background-size: contain; }
	.navbar-center .dropdown-menu > li { margin: 3px 0; display: block !important; }
	.navbar-center .dropdown-menu > li > a { padding: 7px 20px; }
	.navbar-left .dropdown-menu { box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); border-radius: 3px !important; border: none; }
}

// NAVIGATION: TOP
@media (min-width: 992px) {
	#navigation-top { background: $near-white; }
	#navigation-top .navbar .navbar-nav.navbar-left { position: absolute; }
	#navigation-top .navbar .navbar-nav.navbar-left > li { padding: 9px 0; height: 60px; }
	#navigation-top .navbar .navbar-nav.navbar-left > li > a { height: 32px; line-height: 16px; padding: 0 0 0 40px; }
	#navigation-top .navbar .navbar-nav.navbar-left > li > a .icon { position: absolute; left: 0; opacity: 0.75; }
	#navigation-top .navbar .navbar-nav.navbar-left > li:hover > a .icon,
	#navigation-top .navbar .navbar-nav.navbar-left > li > a:hover .icon,
	#navigation-top .navbar .navbar-nav.navbar-left > li > a:focus .icon { opacity: 1; /* background-position-y:  -64px; */ }
	#navigation-top .navbar .navbar-nav.navbar-left > li > a small { font-size: 12px; }
	#navigation-top .navbar .navbar-nav.navbar-left > li > .dropdown-menu { margin-left: -10px; }
	#navigation-top .navbar .navbar-nav.navbar-left > li > a { padding-right: 15px; }
	#navigation-top .navbar .navbar-nav.navbar-left > li > a .caret { display: none; }
	#navigation-top .navbar .navbar-nav.navbar-left > li > a:after { content: "\f107"; font-family: 'FontAwesome', sans-serif; position: absolute; bottom: 0; right: 0; }
	#navigation-top .navbar .navbar-nav.navbar-left > li:hover > a:after,
	#navigation-top .navbar .navbar-nav.navbar-left > li > a:hover:after,
	#navigation-top .navbar .navbar-nav.navbar-left > li > a:focus:after { content: "\f106"; }
	/*
	#navigation-top .navbar .navbar-nav.navbar-left > li:hover > a .caret,
	#navigation-top .navbar .navbar-nav.navbar-left > li > a:hover .caret,
	#navigation-top .navbar .navbar-nav.navbar-left > li > a:focus .caret { transform: rotate(180deg);}
	*/
	#navigation-top .navbar .navbar-nav.navbar-center { height: 50px; }
	#navigation-top .navbar .navbar-nav.navbar-center > li.dropdown  { height: 60px; ; }
	#navigation-top .navbar .navbar-nav.navbar-center > li.dropdown > a { padding-right: 15px; }
	#navigation-top .navbar .navbar-nav.navbar-center > li.dropdown > a .caret { display: none; }
	#navigation-top .navbar .navbar-nav.navbar-center > li.dropdown > a:after { content: "\f107"; font-family: 'FontAwesome', sans-serif; position: absolute; bottom: 16px; right: 0; }
	#navigation-top .navbar .navbar-nav.navbar-center > li.dropdown:hover > a:after,
	#navigation-top .navbar .navbar-nav.navbar-center > li.dropdown > a:hover:after,
	#navigation-top .navbar .navbar-nav.navbar-center > li.dropdown > a:focus:after { content: "\f106"; }
	#navigation-top .navbar .navbar-nav.navbar-left .dropdown-submenu { position: static; display: block; float: none; padding: 0 15px; }
	#navigation-top .navbar .navbar-nav.navbar-left .dropdown-submenu > a { font-size: 0.875rem; letter-spacing: 0.25px; border-bottom: 1px solid $border; padding: 5px 10px 5px 0; position: relative; white-space: normal; min-width: 190px; position: relative; }
	#navigation-top .navbar .navbar-nav.navbar-left .dropdown-submenu:last-of-type > a { border-bottom: 0; }
	#navigation-top .navbar .navbar-nav.navbar-left .dropdown-submenu > a:before { opacity: 0.3; content: "\f105"; font-family: 'FontAwesome', sans-serif; position: absolute; top: 5px; right: 0; }
	#navigation-top .navbar .navbar-nav.navbar-left .dropdown-submenu > a:hover:before { opacity: 1; color: $gray-dark; }
	#navigation-top .navbar .navbar-nav.navbar-left .dropdown-submenu > a:after { content: none; }
	#navigation-top .navbar .navbar-nav.navbar-left .dropdown-submenu > .dropdown-menu { margin: 0; border-color: $border; padding: 70px 30px 30px 30px; flex-direction: column; flex-wrap: wrap; align-content: flex-start; }
	#navigation-top .navbar .navbar-nav.navbar-left .dropdown-submenu:focus > .dropdown-menu,
	#navigation-top .navbar .navbar-nav.navbar-left .dropdown-submenu:hover > .dropdown-menu { width: 810px; display: flex; position: absolute; top: -1px; bottom: 0; border-left: none; min-height: 80vh; background-color: #f5f5f5; background-position: bottom right; background-size: contain; background-repeat: no-repeat; }
	#navigation-top .navbar .navbar-nav.navbar-left .dropdown-submenu > .dropdown-menu .h1 { font-size: 1.875rem; font-family: 'AbsaraSansHeadlineComp-Regular', sans-serif; position: absolute; top: 20px; left: 30px; }
	#navigation-top .navbar .navbar-nav.navbar-left .dropdown-submenu > .dropdown-menu .h1 a { padding: 0; }
	#navigation-top .navbar .navbar-nav.navbar-left .dropdown-submenu > .dropdown-menu > li { width: 30%; }
	#navigation-top .navbar .navbar-nav.navbar-left .dropdown-submenu > .dropdown-menu > li .tiles { border-radius: 3px; color: $gray-light; background: #fff; padding: 15px; margin: 0 15px 15px 0; }
	#navigation-top .navbar .navbar-nav.navbar-left .dropdown-submenu > .dropdown-menu > li .tiles a { padding: 0; white-space: normal; color: inherit; display: inline; }
	#navigation-top .navbar .navbar-nav.navbar-left .dropdown-submenu > .dropdown-menu > li .tiles a.dropdown-menu-title { display: block; font-size: 1.125rem; color: $gray-dark; }
	#navigation-top .navbar .navbar-nav.navbar-left .dropdown-submenu > .dropdown-menu > li .tiles a.dropdown-menu-title + a { margin-top: 5px; }
	#navigation-top .navbar .navbar-nav.navbar-left .dropdown-submenu > .dropdown-menu > li .tiles a:hover,
	#navigation-top .navbar .navbar-nav.navbar-left .dropdown-submenu > .dropdown-menu > li .tiles a:focus { color: $primary; background: none; text-decoration: none; }
	#navigation-top .navbar .navbar-nav.navbar-right > li:before { content: ""; left: -15px; top: 15px; height: 20px; width: 1px; background: $border; position: absolute; display: inline-block; }
	#navigation-top .navbar .navbar-nav.navbar-right > li:first-of-type:before { content: none; }
	#navigation-top .navbar .navbar-nav.navbar-center { float: none; text-align: center; }
	#navigation-top .navbar .navbar-nav.navbar-center li { display: inline-block; float: none; }
	#navigation-top .navbar .navbar-nav.navbar-center> li:before { content: ""; left: -15px; top: 15px; height: 20px; width: 1px; background: $border; position: absolute; display: inline-block; }
	#navigation-top .navbar .navbar-nav.navbar-center > li:first-of-type:before { content: none; }
}

// NAVIGATION: BOTTOM
@media (min-width: 992px) {
	#navigation { background: #fff; }
	#navigation .navbar .navbar-nav > li > a { font-size: 1rem; color: $gray-dark; }
}