// ALERT
.alert { padding: 15px; margin-bottom: 30px; border: 1px solid $border; background: $near-white; border-radius: 0; }
.alert > :first-child { margin-top: 0; }
.alert > :last-child { margin-bottom: 0; }
.alert h1, .alert h2, .alert h3, .alert h4, .alert h5, .alert h6 { color: inherit; font-size: 1.25rem; }
.alert-success { background: mix($primary, #fff, 5%); color: mix($primary, $gray-dark, 50%); border-color: mix($primary, $border, 10%); }
.alert-info { background: mix($info, #fff, 5%); color: mix($info, $gray-dark, 50%); border-color: mix($info, $border, 20%); }
.alert-warning { background: mix($warning, #fff, 5%); color: mix($warning, $gray-dark, 50%); border-color: mix($warning, $border, 10%); }
.alert-danger { background: mix($danger, #fff, 5%); color: mix($danger, $gray-dark, 50%); border-color: mix($danger, $border, 10%); }
.alert-success a { color: $primary; }
.alert-info a { color: $info; }
.alert-warning a { color: $warning; }
.alert-danger a { color: $danger; }

// TABS
.nav-tabs { border-bottom: 1px solid $border; }
.nav-tabs > li > a { border-radius: 0; background: #fff; border-bottom: 1px solid $border; color: $gray-light; padding: 7px 20px; margin-right: 5px; }
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus { border-color: $near-white $near-white $border; background: $near-white; }
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus { color: $primary; border: 1px solid $border; border-bottom-color: transparent; }
.nav-tabs + .tab-content { border: 1px solid $border; border-top: 0; padding: 15px; }
.nav-tabs + .tab-content .tab-pane > :last-child { margin-bottom: 0;}

// ACCORDION
div[id*="accordion"] .panel-default { margin: 0 !important; border: none; border-bottom: 1px solid $border; border-radius: 0 !important; box-shadow: none; }
div[id*="accordion"] .panel-default:first-of-type { border-top: 1px solid $border; }
div[id*="accordion"] .panel-default > .panel-heading { color: $gray-dark; background-color: #fff; border-color: $border; padding: 0; }
div[id*="accordion"] .panel-heading .panel-title { font-size: 1.125rem; padding: 15px 15px 15px 45px; display: block; position: relative; }
div[id*="accordion"] .panel-heading .panel-title:hover,
div[id*="accordion"] .panel-heading .panel-title:focus,
div[id*="accordion"] .panel-heading .panel-title[aria-expanded="true"] { text-decoration: none; background: $near-white; color: $gray-dark; }
div[id*="accordion"] .panel-heading .panel-title:after { content: "\f107"; font-family: 'FontAwesome', sans-serif; position: absolute; left: 15px; }
div[id*="accordion"] .panel-heading .panel-title[aria-expanded="true"]:after { content: "\f106"; }
div[id*="accordion"] .panel-heading + .panel-collapse > .panel-body { padding: 0 15px 15px 45px; border-top-color: $near-white; background: $near-white; }
div[id*="accordion"] .panel-footer + .panel-collapse > .panel-body { border-bottom-color: $border; }