// TEASER
#teaser .carousel { min-height: 50px; }
#teaser .carousel-fade .carousel-inner .item { opacity: 0; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: alpha(opacity=0); -moz-transition-property: opacity; -o-transition-property: opacity; -webkit-transition-property: opacity; transition-property: opacity }
#teaser .carousel-fade .carousel-inner .item img { margin: 0 auto; max-width: 100%; }
#teaser .carousel-fade .carousel-inner .active { opacity: 1; }
#teaser .carousel-fade .carousel-inner .active.left, #teaser .carousel-fade .carousel-inner .active.right { left: 0; opacity: 0; z-index: 1; }
#teaser .carousel-fade .carousel-inner .next.left, #teaser .carousel-fade .carousel-inner .prev.right { opacity: 1; }
#teaser .carousel-fade .carousel-control { z-index: 2; }
#teaser .carousel .carousel-inner .item.item-noimg { padding: 10px; }
#teaser .carousel .carousel-inner .item.item-noimg h1,
#teaser .carousel .carousel-inner .item.item-noimg h2 { margin-top: 10px; }
#teaser .carousel .carousel-inner .item.item-noimg .carousel-caption { text-shadow: none; left: auto; right: auto; bottom: auto; padding-top: 0; padding-bottom: 0; position: relative; text-align: left; }
/* @TODO */
#teaser .carousel-caption { top: 50%; bottom: auto; transform: translateY(-50%); padding: 0; left: 10%; right: 10%; }
#teaser .carousel-caption h1 { color: #fff; max-width: 800px; margin: 0 auto; text-shadow: none; }
