// TYPO
@font-face {
	font-family: 'AbsaraSansHeadlineComp-Regular';
	src: url('_/fonts/AbsaraSansHeadlineWeb.eot');
	src: url('_/fonts/AbsaraSansHeadlineWeb.eot?#iefix') format('embedded-opentype'),
	url('_/fonts/AbsaraSansHeadlineWeb.woff') format('woff'),
	url('_/fonts/AbsaraSansHeadlineWeb.ttf') format('truetype'),
	url('_/fonts/AbsaraSansHeadlineWeb.otf') format('opentype');
	font-weight: 400;
}
@font-face {
	font-family: 'AbsaraSansHeadlineComp-Medium';
	src: url('_/fonts/AbsaraSansHeadlineWeb-Medium.eot');
	src: url('_/fonts/AbsaraSansHeadlineWeb-Medium.eot?#iefix') format('embedded-opentype'),
	url('_/fonts/AbsaraSansHeadlineWeb-Medium.woff') format('woff'),
	url('_/fonts/AbsaraSansHeadlineWeb-Medium.ttf') format('truetype'),
	url('_/fonts/AbsaraSansHeadlineWeb-Medium.otf') format('opentype');
	font-weight: 500;
}
@font-face {
	font-family: 'AbsaraSansHeadlineComp-Bold';
	src: url('_/fonts/AbsaraSansHeadlineWeb-Bold.eot');
	src: url('_/fonts/AbsaraSansHeadlineWeb-Bold.eot?#iefix') format('embedded-opentype'),
	url('_/fonts/AbsaraSansHeadlineWeb-Bold.woff') format('woff'),
	url('_/fonts/AbsaraSansHeadlineWeb-Bold.ttf') format('truetype'),
	url('_/fonts/AbsaraSansHeadlineWeb-Bold.otf') format('opentype');
	font-weight: 700;
}
@font-face {
	font-family: 'PlutoCond-Regular';
	src: url('_/fonts/PlutoCondRegular.eot');
	src: url('_/fonts/PlutoCondRegular.eot?#iefix') format('embedded-opentype'),
	url('_/fonts/PlutoCondRegular.woff') format('woff'),
	url('_/fonts/PlutoCondRegular.ttf') format('truetype');
	font-weight: 400;
}
@font-face {
	font-family: 'PlutoCond-Medium';
	src: url('_/fonts/PlutoCondMedium.eot');
	src: url('_/fonts/PlutoCondMedium.eot?#iefix') format('embedded-opentype'),
	url('_/fonts/PlutoCondMedium.woff') format('woff'),
	url('_/fonts/PlutoCondMedium.ttf') format('truetype');
	font-weight: 500;
}

html { position: relative; min-height: 100%; }
@media (max-width: 767px) {
	html { font-size: 14px; }
}
@media (min-width: 768px) and (max-width: 991px) {
	html { font-size: 15px; }
}
@media (min-width: 992px) and (max-width: 1199px) {
	html { font-size: 15px; }
}
@media (min-width: 1200px) {
	html { font-size: 16px; }
}

html { overflow-x: hidden; width: 100vw; }
body { overflow-x: hidden; width: 100vw; font-family: 'AbsaraSansHeadlineComp-Regular', sans-serif; font-size: 1rem; font-weight: 400; color: $gray-dark; }
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-family: 'AbsaraSansHeadlineComp-Regular', sans-serif; font-weight: 400; color: #414141; margin-top: 0; }
h1, .h1 { font-size: 3.500rem; /* 56px*/ font-family: 'PlutoCond-Medium', sans-serif; font-weight: 500; }
h2, .h2 { font-size: 2.500rem; /* 40px*/ font-family: 'PlutoCond-Regular', sans-serif; font-weight: 400; }
h3, .h3 { font-size: 1.750rem; /* 28px*/ }
h4, .h4 { font-size: 1.250rem; /* 20px*/ font-family: 'AbsaraSansHeadlineComp-Medium', sans-serif; font-weight: 500; }
h5, .h5 { font-size: 1.000rem; /* 16px*/ }
h6, .h6 { font-size: 0.875rem; /* 14px*/ }

.c1 { font-size: 1.750rem; /* 28px*/ }
.c2 { font-size: 1.250rem; /* 20px*/ }
.c3 { font-size: 1.000rem; /* 16px*/ }
.c4 { font-size: 0.875rem; /* 14px*/ }
.c5 { font-size: 0.750rem; /* 12px*/ }
.c6 { font-size: 0.625rem; /* 10px*/ }

a { color: $secondary; }
a:hover, a:focus { color: #008984; }

::selection { color: #fff; background: $primary; text-shadow: none; }
::-moz-selection { color: #fff; background: $primary; text-shadow: none; }

.text-gray { color: $gray-light; }