// COLORS
$primary:			#92bd1e !default;
$secondary:			#009B78 !default;
$success:			#92bd1e !default;
$info:				#00689d !default;
$warning:			#fcbf00 !default;
$danger:			#d51317 !default;

// GRAYSCALE
$gray-dark:			#414141 !default;
$gray:				#666666 !default;
$gray-light:		#999999 !default;
$border:			#d8d8d8 !default;
$near-white:		#f2f2f2 !default;

// MISC
$transition:		all 0.25s !default;