.ml50{margin-left:5%!important;}
body[class*="acf-options"] #submitdiv:after { content:url('../../library/helper/images/e.png'); position: absolute; height: 120px; width: 100%; text-align: center; margin-top: 50px; }
body:not(.endcore) li#toplevel_page_acf-options-allgemein, body:not(.endcore) li#toplevel_page_xcore_debug { display: none; }
#TB_window #TB_ajaxContent .endcore-shortcodes-form ul { margin: 0; }
#TB_window #TB_ajaxContent .endcore-shortcodes-form li { margin: 0; }
#TB_window #TB_ajaxContent .endcore-shortcodes-form li::before { content: none; }