/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}input[type="search"]{-webkit-appearance:textfield;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:bold}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
*:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
html { font-size: 10px; padding: 20px !important; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
body { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 16px; line-height: 1.42857143; color: #333333; background-color: #ffffff; width: 750px; }
body > :first-child { margin-top: 0; }
input, button, select, textarea { font-family: inherit; font-size: inherit; line-height: inherit; }
a { color: #337ab7; text-decoration: none; }
a:hover, a:focus { color: #23527c; text-decoration: underline; }
a:focus { outline: thin dotted; outline: 5px auto -webkit-focus-ring-color; outline-offset: -2px; }
figure { margin: 0; }
img { vertical-align: middle; }
.img-responsive { display: block; max-width: 100%; height: auto; }
hr { margin-top: 20px; margin-bottom: 20px; border: 0; border-top: 1px solid #eeeeee; }
[role="button"] { cursor: pointer; }
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-family: inherit; font-weight: 500; line-height: 1.1; color: inherit; }
h1, .h1, h2, .h2, h3, .h3 { margin-top: 20px; margin-bottom: 10px; }
h4, .h4, h5, .h5, h6, .h6 { margin-top: 10px; margin-bottom: 10px; }
h1, .h1 { font-size: 1.5em; }
h2, .h2 { font-size: 1.3em; }
h3, .h3, h4, .h4, h5, .h5, h6, .h6 { font-size: 1.2em; }
p { margin: 0 0 10px; }
small, .small { font-size: 85%; }
mark, .mark { background-color: #fcf8e3; padding: .2em; }
ul, ol { margin-top: 0; margin-bottom: 10px; }
ul ul, ol ul, ul ol, ol ol { margin-bottom: 0; }
dl { margin-top: 0; margin-bottom: 20px; }
dt, dd { line-height: 1.42857143; }
dt { font-weight: bold; }
dd { margin-left: 0; }
@media (min-width: 768px) {
	.dl-horizontal dt { float: left; width: 200px; clear: left; text-align: right; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
	.dl-horizontal dd { margin-left: 220px; }
}
.btn { display: inline-block; padding: 6px 12px; margin-bottom: 0; font-size: 14px; font-weight: normal; line-height: 1.42857143; text-align: center; white-space: nowrap; vertical-align: middle; -ms-touch-action: manipulation; touch-action: manipulation; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; background-image: none; border: 1px solid transparent; border-radius: 4px; color: #333; background-color: #fff; border-color: #ccc; }
code, kbd, pre, samp { font-family: Menlo, Monaco, Consolas, "Courier New", monospace; }
pre { display: block; padding: 9.5px; margin: 0 0 10px; font-size: 13px; line-height: 1.42857143; color: #333; word-break: break-all; word-wrap: break-word; background-color: #f5f5f5; border: 1px solid #ccc; border-radius: 4px; }
pre code { padding: 0; font-size: inherit; color: inherit; white-space: pre-wrap; background-color: transparent; border-radius: 0; }
code { padding: 2px 4px; font-size: 90%; color: #c7254e; background-color: #f9f2f4; border-radius: 4px; }
abbr[title], abbr[data-original-title] { cursor: help; border-bottom: 1px dotted #777777; }
blockquote { padding: 10px 20px; margin: 0 0 20px; font-size: 17.5px; border-left: 5px solid #eeeeee; }
blockquote p:last-child, blockquote ul:last-child, blockquote ol:last-child { margin-bottom: 0; }
blockquote footer, blockquote small, blockquote footer, blockquote small, blockquote .small { display: block; font-size: 80%; line-height: 1.42857143; color: #777777; }
blockquote footer:before, blockquote small:before, blockquote .small:before { content: '\2014 \00A0'; }
table { background-color: transparent; }
caption { padding-top: 8px; padding-bottom: 8px; color: #777777; text-align: left; }
.alignleft { float: left; margin: 0 15px 10px 0; }
.aligncenter { display: block; margin: 0 auto 10px auto; }
.alignright { float: right; margin: 0 0 10px 15px; }
.alignnone { float: none; display: block; margin: 0 0 10px 0; }
.size-full { width: 100%; height: auto; margin: 0 0 10px 0; }
p .alignleft { float: left; margin: 5px 15px 10px 0; }
p .aligncenter { display: block; margin: 5px auto 10px auto; }
p .alignright { float: right; margin: 5px 0 10px 15px; }
p .alignnone { float: none; display: block; margin: 5px 0 10px 0; }
p .size-full { width: 100%; height: auto; margin: 5px 0 10px 0; }
p.empty { padding: 0; margin: 0; line-height: 0; }
img[class*="wp-image-"] { display: block; max-width: 100%; height: auto; }
th { text-align: left; }
.table { width: 100%; max-width: 100%; margin-bottom: 20px; }
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td { padding: 8px; line-height: 1.42857143; vertical-align: top; border-top: 1px solid #dddddd; }
.table > thead > tr > th { vertical-align: bottom; border-bottom: 2px solid #dddddd; }
.table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > td { border-top: 0; }
.table > tbody + tbody { border-top: 2px solid #dddddd; }
.table .table { background-color: #ffffff; }
.table-condensed > thead > tr > th, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > td { padding: 5px; }
.table-bordered { border: 1px solid #dddddd; }
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td { border: 1px solid #dddddd; }
.table-bordered > thead > tr > th, .table-bordered > thead > tr > td { border-bottom-width: 2px; }
table col[class*="col-"] { position: static; float: none; display: table-column; }
table td[class*="col-"], table th[class*="col-"] { position: static; float: none; display: table-cell; }
.clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after { content: " "; display: table; }
.clearfix:after, .dl-horizontal dd:after { clear: both; }
.center-block { display: block; margin-left: auto; margin-right: auto; }
.pull-right { float: right !important; }
.pull-left { float: left !important; }


.c1, .c2, .c3, .c4, .c5, .c6 { position: relative; }
.c1:before, .c2:before, .c3:before, .c4:before, .c5:before, .c6:before { position: absolute; left: -20px; top: 5px; padding: 2px 4px; font-size: 8px; color: #fff; background-color: #00689d; font-weight: 300; opacity: 0.5; }
.c1:before { content: "c1"; }
.c2:before { content: "c2"; }
.c3:before { content: "c3"; }
.c4:before { content: "c4"; }
.c5:before { content: "c5"; }
.c6:before { content: "c6"; }
#mceu_150.mce-menu-item .mce-text, .c1 { font-size: 20px !important; }
#mceu_151.mce-menu-item .mce-text, .c2 { font-size: 18px !important; }
#mceu_152.mce-menu-item .mce-text, .c3 { font-size: 16px !important; }
#mceu_153.mce-menu-item .mce-text, .c4 { font-size: 14px !important; }
#mceu_154.mce-menu-item .mce-text, .c5 { font-size: 12px !important; }
#mceu_155.mce-menu-item .mce-text, .c6 { font-size: 10px !important; }